<h1>Create a Movie Party for <%= @movie.title %> </h1>
<%= button_to "Discover Page", user_discover_index_path(@user) %>

<section>
  <h2>Viewing Party Details</h2><br><br><br>
  <h3>Movie Title: <%= @movie.title %></h3>
  <%= form_with url:new_party_path(@user, @movie.id), method: :post, local: true do |form| %>
    <% form.hidden_field :movie_id, value: @movie.id %>
    <%= form.label :party_duration, 'Duration of Party:' %><br>
    <%= form.number_field :party_duration, min: @movie.runtime, value: @movie.runtime %><br>

    <%= form.label :day %><br>
    <%= form.date_field :day, min: Date.today %><br>
    <%= form.label :start_time %><br>
    <%= form.time_field :start_time %><br>
    <h3>Invite Other Users</h3>

    <% @users.each do |user| %>
      <div id="user-<%= user.id %>">
        <%= check_box_tag "Invited[]", user.id %>
        <%= user.name + " " + user.email %>
      </div>
    <% end %>

    <%= form.submit 'Create Party' %>
  <% end %>


</section>
