<h1> New Viewing Party!</h1>

<%= form_with url: "/users/#{@user.id}/movies/#{@movie_id}/viewing_party", method: :post do |f| %>
    <%= f.label :duration, "Duration: " %>
    <%= f.number_field :duration %>
    <%= f.label :date, "Date: " %>
    <%= f.date_field :date %>
    <%= f.label :start_time, "Start Time: " %>
    <%= f.time_field :start_time %>
 <p> <%= f.label "Invite Users to Party" %>
          <% @users.each do |user| %>
          <div id="check_box-<%=user.name%>">
            <p><%= "#{user.name}" %>
               <%= check_box_tag "users[]", user.id  %></p>
          </div>
          <% end %>
        <%= f.hidden_field :host, value: @user.id  %>
        <%= f.hidden_field :movie_name, value: @movie.name %>
        <%= f.submit :submit %>
      <% end %>
