<h1>Viewing Party Lite</h1>
<h2>Create a Movie Party for <%= @movie.title %></h2>

<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>

<h3>Viewing Party Details</h3>

<%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing-parties", local: true, method: :post do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, value: "#{@movie.title}" %>

  <%= form.label :duration %>
  <%= form.text_field :duration %>

  <%= form.label :day %>
  <%= form.text_field :day %>

  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.hidden_field :host, value: "host" %>

  <%= form.label :start_time %>
  <%= form.text_field :start_time %>

  <p>Invite Other Users</p>
  <% User.except_self(@user).each do |user| %>
      <%= form.label "#{user.name} (#{user.email})" %>
      <%= form.check_box user.email, value: user.id  %>
    <% end %>
    <%= form.submit 'Submit' %>
  <% end %>
