<h1>NEW PARTY<h1>

<div id="new_party_form">
  <div class="area_container">
    <center>
      <%= form_with url: "/movies/#{@movie.id}/viewing_party", method: :post, local: true do |form| %>
        <%= form.label :duration, "Duration: " %>
        <%= form.number_field :duration, in: @movie.runtime.to_i..1000 %><br>
        <%= form.label :date, "Date: " %>
        <%= form.date_field :date %><br>
        <%= form.label :time, "Start Time " %>
        <%= form.time_field :time %><br>

        <%= form.label "Invite Users" %>
          <% @users.each do |user| %>
          <div id="check_box-<%= user.name %>">
            <p><%= "#{user.name}" %>
               <%= check_box_tag "users[]", user.id  %></p>
          </div>
          <% end %>

        <%= form.hidden_field :host, value: current_user.id  %>
        <%= form.submit :submit %>
      <% end %>
    </center>
  </div>
</div>
