<h1>NEW PARTY<h1>

<div id="new_party_form">
  <%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing_party", method: :post do |f| %>
    <%= f.label :duration, "Duration: " %>
    <%= f.number_field :duration %><br>
    <%= f.label :date, "Date: " %>
    <%= f.date_field :date %><br>
    <%= f.label :time, "Start Time " %>
    <%= f.time_field :time %><br>

    <%= f.label "Invite Users" %>
      <% @users.each do |user| %>
      <p><%= "#{user.name}" %>
      <%= check_box_tag "users[]", user.id  %>
      </p>
      <% end %>

    <%= f.hidden_field :host, value: @user.id  %>
    <%= f.submit :submit %>
  <% end %>

</div>
