<div id="party">
  <h2>Viewing Party Details</h2>
  <%= form_with model: @party do |f| %>
    <p>Movie Title: <%= f.label "#{@movie.title}" %></p>
    <%= f.hidden_field :name, value: "#{@movie.title}" %>
    <p>Duration of Party: <%= f.text_field :duration, value: @movie.runtime %></p>
    <p>Day: <%= f.date_field :date %></p>
    <p>Start Time: <%= f.time_field :start_time %></p>
    <% end %>
</div>
