<h1>Log In</h1>

<% if flash.key? :error %>
  <p><%= flash[:error] %></p>
<% end %>
<%= form_with url: '/login', method: :post, local: true do |f| %>
  <%= f.label :email, 'Email:' %>
  <%= f.text_field :email %>
  <%= f.label :password, 'Password:' %>
  <%= f.text_field :password %>
  <%= f.submit 'Log In' %>
<% end %>