<h1><center>Viewing Party Lite<center></h1>

<% if !current_user %>
  <p><center><%= button_to "Create New User", "/register", method: :get %><center></p>
  <p><center><%= link_to "Log In", login_path %><center></p>
<% else %>
  <p><%= link_to "Log Out", '/logout', method: :delete %></p>
  <h3><center>Existing Users<center></h3>
  <% @users.each do |user| %>
    <!--<p><center><%= link_to "#{user.email}", dashboard_path %><center></p>-->
    <p><center><%= user.email %><center></p>
  <% end %>
<% end %>




