<h1>Viewing Party Light</h1>
<p> Discover Movies </p>

<%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies?q=top%20rated", method: :get%>

<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |form| %>
  <%= form.label :movie_search, 'Search For Movies By Title' %>
  <%= form.text_field :movie_search %>
  <%= form.submit 'Search' %>
<% end %>
<% if @movie %>
  <h2>The movie<%= @movie[:original_title] %> </h2>
<% end %>