<h1>Discover Movies</h1>
<%= form_with url: user_search_path(@user) do |form| %>
  <%= form.label :query, "Search by title:" %>
  <br>
  <%= form.text_field :query %>
  <%= form.submit "Search" %>
<% end %>
<%= button_to "Top Rated Movies", user_top_rated_path(@user, :q => "top rated"), method: :get %>