

<%  if @movie_results %>
  <h3> Movies with the keyword "<%= @keyword %>""</h3>
  <% @movie_results[:results].each do |movie| %>
    <p><%= link_to movie[:title], "/users/#{@user.id}/movies/#{movie[:id]}" %>  Rating: <%= movie[:vote_average] %></p>
  <% end %>
<% elsif @top_40_movies %>
  <% @top_40_movies.each do |top_movie| %>
    <p><%= top_movie[:title] %> Rating: <%= top_movie[:vote_average] %></p>
  <% end %>
<%  end %>
