<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get, local: true %>

  <% if params[:q] == "top_rated" %>
    <h2>Top Rated Movies</h2>
      <% @top_20.each do |m| %>
        <p><%= link_to m.title, "/users/#{@user.id}/movies/#{m.id}", method: :get, local: true %> - Rating <%= m.vote_average %></p>
      <% end %>
  <% else %>
  <h2>Movie Results for: <%= "#{@query}" %></h2>
  <% @search.each do |m| %>
    <div id=" <%= m.id %>">
      <p><%= link_to m.title, "/users/#{@user.id}/movies/#{m.id}" %> - Rated <%= m.vote_average %></p>
    </div>
  <% end %>
<% end %>
