<%=content_for :subtitle do%>
  <%= @subtitle %>
<%end%>
<br>
<%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get%>
<br>
<table id='movie-table'>
  <tr>
    <th>Title</th>
    <th>Rating</th>
  </tr>
  <%@movies.each do |movie|%>
  <tr class='movie' id='mov-<%=movie[:movie_id]%>'>
    <td class='title'>
      <%= link_to movie[:title], "/users/#{@user.id}/movies/#{movie[:movie_id]}"%>
    </td>
    <td class='rating'>
      <%=movie[:vote_avg]%>
    </td>
  </tr>
  <%end%>

    
</table>