

<%  if @movie_results %>
  <h3> Movies with the keyword "<%= @keyword %>""</h3>
  <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>

  <% @movie_results[:results].each do |movie| %>
    <p><%= link_to movie[:title], "/users/#{@user.id}/movies/#{movie[:id]}" %>  Rating: <%= movie[:vote_average] %></p>
  <% end %>
<% elsif @top_40_movies %>
  <% @top_40_movies.each do |top_movie| %>
  <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
  
    <p><%= link_to top_movie[:title], "/users/#{@user.id}/movies/#{top_movie[:id]}"  %> Rating: <%= top_movie[:vote_average] %></p>
  <% end %>
<p> </p>
<%  end %>
