<div id='button'>
  <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
</div>

<br>

<% if @top_movies %>
  <h2>Top Rated Movies</h2>
  <br>
  <table id="top-movies">
    <tr>
      <th>Number</th>
      <th>Title</th>
      <th>Average Rating</th>
    </tr>

    <% @top_movies.each_with_index do |movie, index| %>
      <tr id="<%=movie.movie_id%>-info">
        <th><%= index + 1 %></th>
        <th><%= link_to movie.title, user_movie_path(@user, movie.movie_id) %></th>
        <th><%= movie.rating %></th>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @searched_movies %>
  <div id='searched-movies'>
    <h2>Movie Results for: <%= params[:q] %></h2>
    <br>
    <table id="searched-movies-table">
      <tr>
        <th>Number</th>
        <th>Title</th>
        <th>Average Rating</th>
      </tr>

      <% @searched_movies.each_with_index do |movie, index| %>
        <tr id="<%=movie.movie_id%>-info">
          <th><%= index + 1 %></th>
          <th><%= link_to movie.title, user_movie_path(@user, movie.movie_id) %></th>
          <th><%= movie.rating %></th>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>