<h2 hidden>Movie Results Page</h2>

<%= button_to "Return to Discover Movies",  user_discoveries_path(@user.id), method: :get %>

<% if @search_results != [] %>
  <h2> Movie Search Results </h2>

  <section id="movie_search_results">
    <table>
      <caption hidden>Movie Results</caption>
      <tr>
        <th>Title</th>
        <th>Vote Avg</th>
      </tr>
      <% @search_results.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, user_movie_path(@user.id, movie.id) %></td>
          <td><%= movie.vote_avg %></td>
        </tr>
      <% end %>
    </table>
  </section>
<% else %>
  <h2> Top 20 Rated Movies </h2>

  <section id="movies_top_rated">
    <table>
      <caption hidden>Movies</caption>
      <tr>
        <th>Title</th>
        <th>Vote Avg</th>
      </tr>
      <% @top_rated.each do |movie| %>
        <tr>
          <td><%= link_to movie.title, user_movie_path(@user.id, movie.id) %></td>
          <td><%= movie.vote_avg %></td>
        </tr>
      <% end %>
    </table>
  </section>
<% end %>