<% if @search %>
  <center><h2>Movie results for: "<%= @search %>"</h2></center>
<% end %>

<center><%= button_to 'Discover Page', discover_index_path, method: :get %></center>

<div id="movies">
  <ol>
    <% @movies.each do |movie| %>
      <li><%= link_to movie.movie_title, "/movies/#{movie.id}" %> <%= "Vote Average: #{movie.vote_average}" %></li>
    <% end %>
  </ol>

  <center><strong><%= "No Results Found" if @movies.empty? %></strong></center>
</div>