<center>
<h1>Movies</h1>
<%= button_to "Discover Page", user_discover_path(@user), method: :get %>

  <% if @top_movies != nil %>
    <% @top_movies.each do |movie| %>
      <div id="#movie_"<%= movie.movie_id %>>
        <strong><%=link_to movie.title, user_movie_path(@user, movie.movie_id)%></strong>
        <%= movie.rating %>
      </div>
      <br>
    <% end %>
  <% else %>
    <% @searched_movies.each do |movie| %>
      <strong><%= link_to movie.title, user_movie_path(@user, movie.movie_id)%></strong>
      <%= movie.rating %>
      <br>
    <% end %>
  <% end %>
</center>