<h1>Discover movies</h1>

<%= button_to "Discover top rated movies", "/users/#{@user.id}/discover", method: :get, params: { q: "top%20rated" } %>

<%= form_with url: "/users/#{@user.id}/discover", method: :get, local: true do |form| %>
  <%= form.label :q, "keyword" %>
  <%= form.text_field :q %>
  <%= form.submit "Search by Title" %>
<% end %>
