<h1>Discover movies</h1>

<%= button_to "Discover top rated movies", "/users/#{@user.id}/discover", method: :get, params: { q: "top%20rated" } %>

<%= form_with url: "/users/#{@user.id}/discover", method: :get, local: true do |form| %>
  <%= form.label :q, "keyword" %>
  <%= form.text_field :q %>
  <%= form.submit "Search by Title" %>
<% end %>

<hr/>
<% if @top_20 %>

  <ul>
    <% @top_20.each do |movie| %>
      <li>
        Title: <%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}" %><br/>
        Vote Average: <%= movie.vote_average %>
      </li>
      <% end %>
  </ul>

<% elsif @search_results %>

  <ul>
    <% @search_results.each do |movie| %>
      <li>
        Title: <%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}" %><br/>
        Vote Average: <%= movie.vote_average %>
      </li>
    <% end %>
  </ul>

<% end %>
