<p><div class="container" align="center">
  <%=button_to "Create Viewing Party for #{@movie.title}", new_user_movie_viewing_party_path(@user.id, @movie.id), method: :get %>
  <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
</div></p>

<h3>Movie Details</h3>
<br>
<p>Title: <%= @movie.title %></p>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= "#{@movie.runtime / 60}h #{@movie.runtime % 60}min" %></p>
<p>Summary: <%= @movie.summary %></p>
<p>Genres: <% @movie.genres.each do |genre| %>
              <%= genre[:name] %>
            <% end %></p>
<br>
<h3>Cast: </h3>
<% @movie_cast.each do |actor| %>
<p>Actor: <%= actor.name %> is Character: <%= actor.character %> </p>
<% end %>
<br>
<h3>Movie Reviews</h3>
<br>
<h4>Total Reviews: </h4>
<p><%= @movie_review.count %></p>
<% @movie_review.each do |author| %>
<br>
<h4>Author: </h4>
<p><%= author.name %></p>
<br>
<h4>Review:</h4>
<p><%= author.review %></p>
<% end %>
