<%= "#{@movie.title}" %>
<p><%= link_to "New Viewing Party For #{@movie.title}", "/users/#{@user.id}/movies/#{@movie.id}/event/new" %></p>

<%= button_to "Discover Movies",  "/users/#{@user.id}/discover", method: :get, local: true %>

<%= button_to "Create a Viewing Party" %>

<p>Title: <%= "#{@movie.title}" %></p>
<p>Vote Average: <%= "#{@movie.vote_average}" %></p>
<p>Vote Count: <%= @movie.vote_count %> </p>
<p>Summary: <%= @movie.summary %> </p>
<p>Runtime: <%= @movie.runtime %> </p>
<p>Genres: <% @movie.genre_name.each do |g| %>
            <%= g %>
            <% end %></p>
<p>Cast: <%= @moviecast.cast_name.each do |c| %>
            <% c %>
          <% end %></p>
<p></p>
