<h3><%= @movie.original_title %></h3>
<p><%= button_to "Discover Page", user_discover_index_path(@user), method: :get %></p>
<p><%= button_to "Create Viewing Party", new_user_movie_party_path(@user, @movie.id), method: :get %></p>

<div id="movie-details">
  <p>Genres:</p>
  <p>|<% @movie.genre_names.each do |genre| %>
    <%= genre %> |
  <% end %></p>
  <p>Runtime: <%= @movie.standard_runtime %></p>
  <p>Summary: <%= @movie.overview %>>
  <p>Vote Average: <%= @movie.vote_average %></p>
  <p>Vote Count: <%= @movie.vote_count %></p>
</div>

<div id="cast-details">
  <p>Cast:</p>
  <% @cast.each do |member| %>
    <p><%= member.name %> as <%= member.character %></p>
  <% end %>
</div>
<div id="review-details">
  <p>Reviews:</p>
  <% @reviews.each do |review| %>
    <p><%= review.author %></p>

    <p><%= review.content %></p>
  <% end %>

</div>
