<center><h2><%=@results[:title]%></h2></center>
<h3>Genre: <%=@results[:genres].pluck(:name)%></h3>
<h3>Vote: <%=@results[:vote_average]%></h3>
<h3>Summary: <%=@results[:overview]%></h3>
<h3>Runtime: <%=@results[:runtime]%></h3>
<h3>Cast <%@cast[:cast].take(10).each do |cast_member|%></h3>
  <p><strong>Actor Name: </strong><%=cast_member[:name]%>
  <strong>Character Name: </strong><%=cast_member[:character]%></p>
<%end%>
<h3><%=@reviews.count%> Reviews</h3>
<%@reviews[:results].each do |result|%>
  <%if result[:author] != nil %>
    <p><%=result[:content]%></p>
    <br>
  <%end%>
<%end%>



