<h3><%= @movie.title %></h3>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= @movie.runtime %></p>
<p>Genre(s): <% @movie.genres.each do |genre| %>
  <%= genre %>, 
<% end %>
</p>
<p>Summary: <%= @movie.overview %></p>
<p>Cast: </p>
<% @movie.cast.each do |name, character| %>
  <p><%= name %> as <%= character %></p>
<% end %>
<p>Total Reviews: <%= @movie.total_reviews %>
<p>Reviews: </p>
<% @movie.reviews.each do |author, review| %>
  <p><%= author %>'s Review: <%= review %></p>
<% end %>

<%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie.id}/viewing_parties/new", method: :get, params: { runtime: @movie.runtime, image_url: @movie.image, title: @movie.title } %>
<%= link_to "Return to Discover Page", user_discover_index_path(@user) %>
