<div id='create-new-viewing-party'>
  <%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_viewing_party_path(@user.id, @movie.id), method: :get %>
</div>
<ul>
<% @reviews.reviews.each do |review| %>
<li id="review-<%= review[:author] %>">
Author: <%= review[:author] %>
Review: <%= review[:content] %>
</li>
<% end%>
</ul>

<div id="cast-members">
  <% @cast.each do |cast_member| %>
      <%= cast_member.keys[0] %> as <%= cast_member.values[0] %>
  <% end %>
</div>
