<%= render partial: './shared/header' %>
<%= button_to "Create a Viewing Party", "/users/#{@user.id}/movies/#{@movie_id}/viewing-party/new", method: :get %>
<%= button_to "Discover Page", discover_user_path(@user), method: :get %>

<h1><%= @movie.title %></h1>
<p>Vote Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= "#{@movie.runtime/60}hr #{@movie.runtime % 60}min" %></p>
<p>Genre: <%= @movie.list_genres %></p>

<div id="summary">
  <h3>Summary</h3>
  <p><%= @movie.overview %>
</div>

<div id="cast">
  <h3>Cast</h3>
  <p><%= @credits.find_actor_name_and_character %>
</div>
