<h1>Movie Details Page</h1>

<%= @movie_details.title %>
<p> Average votes: <%= @movie_details.average_votes%></p>
<p> Duration: <%= @movie_details.runtime %></p>
<p> Genres: <%= @movie_details.genres %></p>
<p> Description: <%= @movie_details.overview %></p>

<div id="cast">
<p> Cast: <% @movie_details.top_10_cast.each do |cast| %></p>
  <p><%= cast %></p>
<% end %>
</div>

<p> Review Count: <%= @movie_details.review_count %></p>

<div id="reviews">
<% @movie_details.reviews.each do |review| %>
<p> Author Name: <%= review.author_name %></p>
<p>Review: <%= review.author_review %></p>
<% end %>
</div>




<%= button_to 'Create a Viewing Party', "/users/#{@movie_details.user.id}/movies/#{@movie_details.movie.id}/viewing-party/new", method: :get %>
<%= button_to 'Return to Discover Page', "/users/#{@movie_details.user.id}/discover", method: :get %>
