<center><h1><%= @movie_details.title %></h1>
<%= button_to "Create a Viewing Party", new_user_viewing_party_path(@user.id, @movie_details.id), method: :get %><br>
<%= button_to "Return to Discover Page", user_discover_index_path(@user.id), method: :get %>
</center>
<h3>Movie Details</h3>
<p>Average Vote: <%= @movie_details.vote_average %>
<p>Runtime: <%= "#{@movie_details.runtime / 60} h #{@movie_details.runtime % 60} min" %></p>
<p>Genre: <%= @movie_details.name_of_genre.join(', ') %></p>
<h3>Summary</h3>
<p><%= @movie_details.overview %></p>
<h3>Cast</h3>
<% @movie_cast.each do |actor| %>
<p><%= actor.character %> played by <%= actor.name %></p>
<% end %>
<p>Genre: <%= @movie_details.genres %></p>
<p>Summary: <%= @movie_details.overview %></p>
<br>
<div id="review_section">
<h3><%= @movie_reviews.count %> Reviews</h3>
<% @movie_reviews.each_with_index do |review, index| %>
  <div id="reviews-<%= index %>">
    <p>Author: <%= review.author  %></p>
    <p><%= review.content %></p><br>
  </div>
<% end %>
</div>

