<h1>Movie Details Page</h1>

<%= @movie_information[:title] %>
<%= @movie_information[:vote_average]%>
<%= @movie_information[:runtime]%> #convert to hrs & min
<%= @movie_information[:genres][0]%> #pull out names 
<%= @movie_information[:overview]%>

<%= button_to 'Create a Viewing Party', url: "/users/#{@user.id}/movies/#{@movie_id}/viewing-party/new", method: :get %>
<%= button_to 'Return to Discover Page', url: "/users/#{@user.id}/discover", method: :get %>
