<style>
ul#details li {
  display:inline;
}

ul.even_horizontal {
  display: flex;
  justify-content: space-evenly;
}

div.main_text {
  padding-left: 30px;
  padding-right: 30px;
}
</style>

<center>
  <h2><%= @movie.title %></h2>
  <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %><br>
  <%= button_to "Create Viewing Party For #{@movie.title}", new_user_movie_viewing_party_path(@user, @movie.id), method: :get %>
</center>
<br><br>

<ul class="even_horizontal" id="details">
    <li>Vote: <%= @movie.vote %></li>
    <li>Runtime: <%= @movie.runtime_in_hours_and_min %></li>
    <li>Genre: <%= @movie.genres.join(", ") %></li>
</ul>  
<br>
<hr>
<div class="main_text">
  <h4>Summary:</h4>
  <p>
    <%= @movie.summary %>
  </p>
  <h4>Cast:</h4>
  <% @cast_list.each do |actor| %>
    <p><%= "#{actor.character}:   #{actor.name}" %> </p>
  <% end %>
  <h4><%= @reviews.count %> Reviews:</h4>
  <% @reviews.each do |review| %>
    <b><%= review.author %></b><br>
    Name: <%= review.name %><br>
    Username: <%= review.username %><br>
    Avatar Path: <%= review.avatar_path %><br>
    Rating: <%= review.rating %><br><br>
  <% end %>
</div>