<h1> "<%= @movie.title%>" related stuff here </h1>
<h5>Description: <%= @movie.overview%> </h5>

<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %><br>

<%= button_to "Create Viewing Party for #{@movie.title}", "/users/#{@user.id}/movies/#{@movie.id}/viewing-party/new", method: :get %><br>
Movie Runtime: <%= @movie.runtime%> minutes
<% #genres %>
<ul>
  <%@movie.genres.each do |genre|%>
  <li><%=genre%></li>
  <% end %>
</ul>
<h4> Vote average:
  <%if @movie.vote_avg == nil %>
    <%= "This has not received any votes yet." %>
    <% else %>
    <%= @movie.vote_avg%>
  <% end%>
</h4>

<ul><h4>
Starring:
  <% @movie.cast.each do |cast|%>
  <% #binding.pry %>
  <li> <%=cast[0]%> as
  <%= cast[1]%></li>
  <% end %>
</ul></h4>

<ul><h4>
<%if @movie.reviews == {} %>
<% #placeholder%>
  <%else @movie.reviews.each do |review|%>
  <li>Author: <%=review.author %><br>
  <%=review.content %></li>
  <% end %>
<%end%>
Review Count <%= @movie.reviews.count%>
</ul></h4><br>
