<div id="title">
  <h1><%= @movie.title %></h1>
</div>

<div id="summary">
  <h2> Summary </h2>
  <%= @movie.summary %>
</div>

<div id="vote-avg">
  <h2>Vote Average: <%= @movie.vote_avg %></h2> 
</div>

<div id="total-review-count">
  <%= @reviews.total_review_count %> Reviews
<div id='create-new-viewing-party'>
  <%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_viewing_party_path(@user.id, @movie.id), method: :get %>
</div>

<div id="discover-movies">
  <%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get %>
</div>

<ul>
<% @reviews.reviews.each do |review| %>
<li id="review-<%= review[:author] %>">
Author: <%= review[:author] %>
Review: <%= review[:content] %>
</li>
<% end%>
</ul>

<h2>Cast</h2>
<ul id="cast-members">
  <% @cast.each do |cast_member| %>
    <li id="cast-member-<% cast_member.keys[0] %>">
      <%= cast_member.keys[0] %> as <%= cast_member.values[0] %>
    </li>
  <% end %>
</ul>

<div id="runtime">
  <h2>Runtime: <%= "#{@movie.run_time/60}hr #{@movie.run_time % 60}min" %></h2>
</div>

<div id="genre">
  <h2>Genre:
    <% @movie.genres.each do |genre| %>
      <%= genre[:name] %>, 
    <% end %>
  </h2>
</div>
