<p type="button" class="btn btn-outline-primary"><%= link_to "Discover Page", discover_path %></p>
<hr>

<p type="button" class="btn btn-outline-success"><%= link_to "Create Viewing Party for #{@movie.title}", new_movie_viewing_party_path(@movie.id) %></p>
<hr>

<h2>
  Movie Details
</h2>
<hr>
<h5>
  Title:
  <strong><%= @movie.title %></strong>
</h5>
<h5>
  Vote Average:
  <%= @movie.vote_average %></h5>
<h5>
  Runtime:
  <%= (@movie.runtime)/60 %>h
  <%= (@movie.runtime) % 60 %>mins</h5>
<hr>
<h5>Genre(s):
</h5>
<% @movie.genres.each do |genre| %>
  <p>
    <%= genre[:name] %></p>
<% end  %>

<h5>
  Description:</h5>
<p><%= @movie.overview %></p>
<p>
  <h5>Characters/Actors:
  </h5>
  <% @movie.cast[0..9].each do |cast_member| %>
    <p><%= cast_member[:name] %>
      plays
      <%= cast_member[:character] %></p>
  <% end %>
</p>
<hr>
<h5>Total Reviews:
  <%= @movie.reviews.count %></h5>
<% @movie.reviews.each do |review| %>
  <div class="card">
    <div class="card-header">
      <%= review[:author] %>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <br>
        <footer class="blockquote-footer"><%= review[:content] %></footer>
      </blockquote>
    </div>
  </div>
  <br>
<% end %>