<style>
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    text-align: center;
  }

  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }

  .flex-items:nth-child(5) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
  }
</style>
<body>
  <div class="flex-container">
    <div class="flex-items">
      <h3><%= @movie.title %></h3>
      <%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
      <%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_view_party_path(@user, @movie.id), method: :get %>
    </div>
    <div class="flex-items">
      <%= "Vote: #{@movie.vote_average}" %>
      <%= "Runtime: #{@movie.runtime}" %>
      <%= "Genre: #{@movie.genres.map { |genre| genre[:name] }.join(', ')}" %>
    </div>
    <div class="flex-items">
      <p>Summary:</p>
      <%= @movie.overview %>
    </div>
    <div class="flex-items">
      <p>Cast:</p>
      <% @cast.cast.first(10).each do |cast| %>
        <p><%= cast %></p>
      <% end %>
    </div>
    <div class="flex-items">
      <p><%= @reviews.reviews.count %> Reviews:</p>
      <% @reviews.reviews.each do |review| %>
        <p><%= review %></p>
      <% end %>
    </div>
  </div>
</body>