<h3><%= @movie.movie_title %></h3>

<%= button_to "Create Viewing Party for #{@movie.movie_title}", new_movie_viewing_party_path(@movie.id), method: :get %>
<%= button_to 'Discover', discover_index_path, method: :get %>
<hr>

<div>
  <p>Vote: <%= @movie.vote_average %></p>
  <p>Runtime: <%= "#{@movie.runtime/60}h #{@movie.runtime % 60}min" %></p>
  <div id="genre">
    <p>Genre:</p>
    <ul>
      <% @movie.genres.each do |g| %>
        <li><%= g[:name] %></li>
      <% end %>
    </ul>
  </div>
  <p>Summary: <%= @movie.summary %></p>
  <div id="cast">
    <h2>Cast:</h2>
    <ul>
      <% @movie.first_10_cast_members.each do |cast_member| %>
        <li><%= "Character: #{cast_member.character} - #{cast_member.actor}" %></li>
      <% end %>
    </ul>
  </div>
  <div id="reviews">
    <h2>Reviews:</h2>
    <% @movie.reviews.each do |review| %>
      <p><strong><%= "#{review.author}:" %></strong></p>
      <p><%= review.content %></p>
    <% end %>
    <p>Review Count: <%= @movie.reviews.size %></p>
  </div>
</div>