<h1><%= @movie_details.title %>'s Details</h1>

<%= button_to "Discover Page", discover_path, method: :get %>
<%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie_details.id}/viewing_partys/new", method: :get %>

<div id="movie-overview">
  <p><b>Vote Average: <%= @movie_details.vote_average %>&emsp;Runtime: <%= @movie_details.time_conversion(@movie_details.runtime) %></b>&emsp;

<b>Genre(s):</b>
  <% @movie_details.genre.each do |genre|  %>
  <b> <%= genre %></b> |
<% end %></p>

<hr></hr>

<h3> Movie Summary </h3>
<p><%= @movie_details.summary %></p>
</div>

<h3> Cast Members </h3>
<div id="cast-members">
<% @movie_details.cast_members.each do |cast| %>
  <p><b><%= cast[:name] %></b> as <b><%= cast[:character] %></b></p>
<% end %>
</div>

<hr></hr>

<div id="reviews">
<h3><%= @movie_details.total_reviews %> Reviews</h3>
<% @movie_details.author.each do |author| %>
    <p><b>Author:</b> <%= author[:username] %>,&ensp;<b>Rating:</b> <%= author[:rating] %></p>
<% end %>
</div>
