<div class="sub-header">
  <%= @movie.title %>
</div>

<center><p><%= button_to 'Discover Page', "/users/#{@user.id}/discover", method: :get %></p></center>
<center><p><%= button_to "Create a Viewing Party for #{@movie.title}", "/users/#{@user.id}/movies/#{@movie.id}/viewing_parties/new", method: :get %></p></center>

<div class="content">
  <div class="row">
    <div class="column">Vote: <%= @movie.vote_average %></div>
    <div class="column">Runtime: <%= @movie.runtime %>minutes</div>
    <div class="column">Genre: <% @movie.genres.each do |genre| %>
      <li><%= genre[:name] %></li>
    <% end %></div>
  <div>

  <hr>

  <b><p>Summary</p></b>
    <font size="+1"><%= @movie.summary %></font>

  <h4>Cast</h4>
  <% @cast.each do |actor| %>
    <div id="actor-<%=actor.id%>">
      <p><%= actor.name %> <i>as</i> <%= actor.character %></p>
    </div>
  <% end %>

  <hr>
  
  <b><p>Reviews</p></b>
  <p><%= @reviews.count %> Reviews</p>
    <font size="+1"><% @reviews.each do |review| %></font>
    <div class="review">
      <p>Author: <%= review.author %></p>
      <p>Rating: <%= review.rating %></p>
      <p>Review: <%= review.content %></p>
    <% end %>
    </div>
</div>
