<%= render partial: './shared/header' %>
<%= button_to "Create a Viewing Party", "/users/#{@user.id}/movies/#{params[:movie_id]}/viewing-party/new", method: :get %>
<%= button_to "Discover Page", discover_user_path(@user), method: :get %>

<h1><%= @movie[:title] %></h1>
<p>Vote Average: <%= @movie[:vote_average] %></p>
<p>Runtime: <%= "#{@movie[:runtime]/60}hr #{@movie[:runtime] % 60}min" %></p>
<p>Genre: <%= @movie[:genres].map do |genre| %>
    <% genre[:name] %>
  <% end.join(', ') %>
</p>



<div id="summary">
  <h3>Summary</h3>
  <p><%= @movie[:overview] %>
</div>

<div id="cast">
  <h3>Cast</h3>
  <p><%= @credits[:cast].map do |actor| %>
    <% "#{actor[:name]} as #{actor[:character]}" %>
  <% end.join(', ') %>
</div>
