<%= render partial: 'partials/navbar_default' %>
<button><%#= link_to "Create Viewing Party for #{@details.title}", "/movies/#{@details.id}/viewing-party/new" %></button><br>





<br>
<h4>Movie Details:</h4>
<table class="table table-hover">
<thead>
  <tr>
    <th scope="row"></th>
    <th scope="col">Title</th>
    <th scope="col">Vote Average</th>
    <th scope="col">Runtime</th>
    <th scope="col">Genre(s)</th>
  </tr>
</thead>
<tbody>
<tr>
  <th scope="row"></th>
  <td> <%= @data[:movie_details].title %></td>
  <td> <%= @data[:movie_details].vote_average %></td>
  <td> <%= "#{@data[:movie_details].runtime/60}hr" %> <%= "#{@data[:movie_details].runtime % 60} min" %></td>
  <td> <%= @data[:movie_details].genre_names.join(" / ") %></td>
</div>
</table>
<ul>
<h5>Summary:</h5>
 <%= @data[:movie_details].summary %>
4</ul>

<br><br>
 <h4>Cast:</h4>
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Character</th>
    <th scope="col">Played by</th>
  </tr>
</thead>
<tbody>
<% @data[:movie_cast].first(10).each_with_index do |cast, index|%>
  <th scope="row"><%= index+1 %></th>
  <td> <%= cast.character %></td>
  <td> <%= cast.name %></td>
</div>
</tbody>
<% end %>
</table>
 <br>

<h4>Reviews(<%= @data[:movie_reviews].count%>)</h4>
<table class="table table-hover">
<thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Author</th>
    <th scope="col">Content</th>
  </tr>
</thead>
<tbody>
<% @data[:movie_reviews].each_with_index do |review, index|%>
  <th scope="row"><%= index+1 %></th>
  <td> <%= review.author%></td>
  <td> <%= review.content%></td>
</div>
</tbody>
<% end %>
</table>











