<h1 class="text-center" sample center heading>Title: <%= @movie.title %> </h1>
<div class="container-fluid">
   <div class="row">
      <div class="col-sm d-flex justify-content-center">
         <h3>Vote Average: <%= @movie.vote_average %></h3>
      </div>
      <div class="col-sm d-flex justify-content-center">
         <h3>Runtime: <%= @movie.duration %></h3>
      </div>
      <div class="col-sm d-flex justify-content-center">
         <h3> Genres: <%= @movie.genres.join(', ') %> </h3>
      </div>
   </div>
</div>
<div class="divider py-1 bg-dark"></div>
<h3>Summary </h3>
<p><%= @movie.summary %></p>
<h3>Cast </h3>

<h3>Review Count: <%= @reviews.count %></h3>
<h3>Reviews <% @reviews.each do |review| %></h3>
<div class="card">
   <div class="card-header">
      <h5> Author: <%= review.author %> </h5>
   </div>
   <p> Review: <%= review.content %></p>
</div>
<% end %>
</div>