<h3>Movie Details</h3> 
<h2> <%= button_to "Return To Discover Movies", "/users/#{@user.id}/discover", method: :get %> </h2>
<h2> <%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie.id}/viewing_party/new", method: :get %> </h2>
<h2>Title: <%= @movie.title %></h2>
<p><h3>Vote Average: <%= @movie.vote_average %></h3></p>
<p>Runtime: <%= @movie.runtime / 60 %> hours and <%= @movie.runtime % 60 %> minutes</p>
<h3>Genre: <% @movie.genres.each do |genre| %>
  <h5><%= genre[:name] %></h5>
  <% end %>


<h3>Summary: <%= @movie.overview %></h3>

  Cast Members: <% @cast.take(10).each do |member|%>
  <%= member %>
  <% end %>

<br>
<h3>Total Reviews: @reviews.count</h3>
<br>
Review Authors and Information:

