<div id='button'>
  <%= button_to "Discover Page", discover_path, method: :get %>
</div>

<br>

<br>

<center>
  <img src="https://image.tmdb.org/t/p/w200<%= @movie.poster_path %>">
</center>

<br>

<h2><%= @movie.title %></h2>

<br>

<ul id='rating-runtime-genres'>
  <li><strong>Vote Average: </strong><%= @movie.rating %></li>
  <li><strong>Runtime: </strong><%= @movie.runtime/60 %> h <%= @movie.runtime%60 %> min</li>
  <li><strong>Genre(s): </strong><%= @movie.genres.join(", ") %></li>
</ul>

<hr>

<div id='summary-section'>
  <p id='summary-header'><strong>Summary</strong></p>
  <p id='summary'><%= @movie.summary %></p>
</div>

<div id='cast-section'>
  <p id='cast-header'><strong>Cast</strong></p>
  <div id='cast-list'>
    <% @movie.cast.each_with_index do |person, index| %>
      <div id="character-<%=index+1%>">
        <%= person.to_sentence(two_words_connector: ' as ') %>
      </div>
    <% end %>
  </div>
</div>

<br>

<hr>

<div id='reviews-section'>
  <p id='count-of-reviews'><strong><%= @movie.reviews.count %> Review(s)</strong></p>
  <div id='review-list'>
    <% @movie.reviews.each_with_index do |review, index| %>
      <div id='review-<%=index+1%>'>
        <section id='container'>
          <strong>Author: </strong><%= review[0] %>
            <br>
            <br>
          <%= review[1] %>
        </section>
        <br>
      </div>
    <% end %>
  </div>
</div>

<br>

<div id='button'>
  <%= button_to "Create Viewing Party for #{@movie.title}", new_movie_viewing_party_path(@movie.movie_id), method: :get, local: true %>
</div>

<br>

<br>
