<h1><%= @movie.title %></h1>

<a class="btn btn-light" href=<%="/movies/#{@movie.id}/viewing_party/new"%> role="button">Create New Viewing Party</a>

<div class="area_container about">
  <h4> About </h4>
  <p> Rating: <%= @movie.vote_average %></p>
  <p> Runtime: <%= @movie.runtime_with_hours %> </p>
  <p> Genres: <% if @movie.genres %>
                <% @movie.genres.each do |g| %>
                <%= g %>
                <% end %>
                <% end %></p>
  <p> Summary: <%= @movie.summary %></p>
</div>

<div class="area_container">
  <h4> Cast: <% if @movie.cast %>
              <% @movie.cast.each do |cast| %></h4>
          <p>  <%= cast[:name] + ": " + cast[:character] %> </p>
            <% end %>
            <% end %>
</div>

  <% if @movie.reviews %>
<div class="area_container review">
  <h4> Reviews: <% @movie.reviews.each do |r| %></h4>
          <p> <strong><%= r[:author]%></strong> <%= r[:content] %></p>
          <% end %>
  <p> Number of Reviews: <%= @movie.reviews.count %><p>
</div>
<% end %>
