<center><h1>Viewing Party</h1></center>

<h3>Cast</h3>
<% @cast.each do |member| %>
  <li><strong><%= member.name %></strong></li>
  <li>Character: <%= member.character %></li><br>
<% end %>

<% if !@reviews.empty? %>
  <h3><%= @reviews.first.number_reviews %> Reviews: </h3>
  <% @reviews.each do |review| %>
    <% if review.author != nil %>
      <p><strong><%= review.author %></strong></p>
      <%= review.content %>
      <br>
    <% end %>
  <% end %>
<% end %>