<h1><%= @movie_details[:movie].title %></h1>
<h3>Vote Average: <%= @movie_details[:movie].vote_average %></h3>
<h3>Runtime: <%= @movie_details[:movie].formatted_runtime %></h3>
<h3>Summary:</h3>
<p><%= @movie_details[:movie].summary %></p>

<div id="genres">
  <h3>Genres:</h3>
  <ul>
    <% @movie_details[:movie].genres.each do |genre| %>
    <li><%= genre[:name] %></li>
    <% end %>
  </ul>
</div>

<div id="cast">
  <h3>Cast:</h3>
  <ul>
    <% @movie_details[:cast].each do |cast_member| %>
    <li>Actor: <%= cast_member.actor %></li>
    <li>Character: <%= cast_member.character %></li><hr>
    <% end %>
  </ul>
</div>

<div id="reviews">
  <h3>Number of Reviews: <%= @movie_details[:reviews].count %></h3>

  <ul>
    <% @movie_details[:reviews].each do |r| %>
      <li>
        Review: <%= r.content %>
        <br/>
        Author: <%= r.author %>
      </li><hr>
    <% end %>
  </ul>

</div>

<%= button_to "Create Viewing Party", "/users/#{@user.id}/movies/#{@movie_details[:movie].id}/parties/new", method: :get %>
<%= button_to "Return to Discover Page", "/users/#{@user.id}/discover", method: :get %>
