<h1>Create a Viewing Party Here</h1>

<h3><%= @movie.title %></h3>

<%= form_with url: "/users/#{params[:user_id]}/movies/#{params[:movie_id]}/viewing-party/create", method: :post do |f| %>
  <%= f.label :duration, 'Duration of Party (in minutes)' %>
  <%= f.number_field :duration, step: :any, value: @movie.duration %>
  <%= f.label :date, 'When:' %>
  <%= f.date_field :date %>
  <%= f.label :start_time, "Start Time:" %>
  <%= f.time_field :start_time %>

  <h3>Invite Other Users</p>
    <% @users.each do |user| %>
      <% if user.id.to_s != params[:user_id] %>
        <%= f.label "#{user.id}", user.name %>
        <%= f.check_box "#{user.id}" %>
      <% end %>
    <% end %><br>
  <%= f.submit "Create Party" %>

<% end %>
