<h2>Create a Viewing Party for <%= @movie.title %></h2>

<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get%>

<h3>Viewing Party Details</h3>


<%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing_party/create", local: true, method: :post do |form| %>
  <%= form.label :title, 'Movie Title: ' %>
  <%= form.label :title, @movie.title %>
  <br>
  <%= form.label :length, 'Duration of Party' %>
  <%= form.number_field :length, value: @movie.runtime, min: @movie.runtime, required: true %>
  <br>
  <%= form.label :date, 'Day' %>
  <%= form.date_field :date, min: Date.today, required: true %>
  <br>
  <%= form.label :start_time, 'Start Time' %>
  <%= form.time_field :start_time, required: true  %>
  <br>
  <p>Invite Other Users</p>

  <% @other_users.each do |user| %>
      <%= form.check_box :user, {multiple: true}, user.id %>
      <%= form.label :user, "#{user.name} (#{user.email})" %>
  <% end %>

<br>
  <%= form.submit 'Create Party'%>
<% end %>
