<h2><%= @movie.title %></h2>

<%= form_with url: user_movie_viewing_parties_path(user_id: @user.id, movie_id: params[:movie_id]), model: @viewing_party, local: true do |f| %>
  <p><%= f.label :duration %>
  <%= f.number_field :duration %></p>

  <p><%= f.label :when %>
  <%= f.date_field :date %></p>

  <p><%= f.label :time %>
  <%= f.time_field :time %></p>

  <% @all_users.each do |user| %>
    <% unless user.id == @user.id %>
      <p><%= f.check_box("invites", {:multiple => true}, user.id, nil) %>
      <%= f.label user.email %></p>
    <% end %>
  <% end %>

  <%= f.submit 'Create Viewing Party' %>

<% end %>
