<h1>Create a Movie Party for <%= params[:movie_title] %></h1>
<%= form_with url: user_path(@user), local: true do |form|  %>
<%= hidden_field_tag :movie_title, params[:movie_title] %>
  <%= form.label :duration %>
  <%= form.number_field :duration, value: params[:duration] %>

  <div id="date">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <%= form.label :time %>
  <%= form.time_select :time %>

  <% @users.each do |user| %>
    <%= form.label user.name.to_sym %>
    <%= form.check_box user.name.to_sym %>
  <% end %>

  <%= form.submit 'Create Viewing Party' %>
<% end %>
