<h2>Create a Movie Party for <%= @viewing_party.movie.title %></h2>
<%= button_to  "Discover Movies", user_discover_path(@user), method: :get %>
<div id="vp_form">
  <h3>Viewing Party Details</h3>
  <%= form_with model: @viewing_party, url: user_movie_viewing_parties_path(@user.id, @viewing_party.movie_id), local: true do |form| %>
  <%= form.hidden_field :movie_id %>
  <%= form.hidden_field :host_id %>
  Movie Title: <strong><%= @viewing_party.movie.title %></strong><br>
  <%= form.label :duration, "Duration of Party: " %>
  <%= form.text_field :duration, size: "5" %><br>
  <%= form.label :date, "Date: " %>
  <%= form.date_field :date %><br>
  <%= form.label :start_time, "Start Time: " %>
  <%= form.time_field :start_time, include_seconds: false %><br>
  <strong>Invite Other Users: </strong><br>
  <%= form.collection_check_boxes :user_ids, @other_users, :id, :name %>
  <br>
  <%= form.submit "Create Party" %>
<% end %>
</div>