<h1><%= @movie.title %></h1>

<%= form_with url: "/users/#{@user.id}/movies/#{@movie.movie_id}/viewing_parties", method: :post, local: true do |f| %>
  <%= f.label :duration %>
  <%= f.number_field :duration, value: @movie.runtime %>
  <br>
  <%= f.label :date %>
  <%= f.date_select :date, :order => [:day, :month, :year] %>
  <br>
  <%= f.label :time %>
  <%= f.time_select :time %>
  <br>
  <h4>Add your friends to this viewing party:</h4>
  <% @all_users.each do |user| %>
    <% if user.name != @user.name %>
      <%= f.label user.name %>
      <%= f.check_box user.name %>
    <% end %>
  <% end %>
  <br>
  <%= f.submit "Create Viewing Party" %>
<% end %>
