<h3>Create a Movie Party for
  <%= @movie.title %></h3>

<p type="button" class="btn btn-outline-primary"><%= link_to "Discover Page", user_movies_discover_path(@user) %></p>

<h4>Viewing Party Details</h4>

<%= form_with url: user_movie_viewing_parties_path(@user, @movie), model: @viewing_party, local: true do |form| %>
<div class="mb-3">
  <%= form.label "Movie Title" %>
  <%= form.text_field :title , class: "form-control", value: @movie.title ,disabled: true%>
</div>
<div class="mb-3">
  <%= form.label :duration %>
  <%= form.number_field :duration , class: "form-control", value: @movie.runtime, in: @movie.runtime..1000, step: 1%>
</div>
<div class="mb-3">
  <%= form.label :date %>
  <%= form.date_field :date , class: "form-control"%>
</div>

<div class="mb-3">
  <%= form.label :time %>
  <%= form.time_field :time , class: "form-control", placeholder: "password"%>
</div>

Invite Other Users
<div class="mb-3">
  <% @all_users.each do |user| %>
    <% unless user.id == @user.id %>
      <%= form.label user.name %>
      <%=form.check_box("invites", {:multiple => true}, user.id, nil) %>
    <% end %>
  <% end %>
</div>
<%= form.hidden_field :movie_id, value: @movie.id %>
<div class="mb-3">
  <%= form.submit class: "btn btn-primary" %>
</div>
<%end %>