<h1>New Viewing Party</h1>

<h3>Movie: <%= @movie.title %></h3>

<%= form_with model: @viewing_party, url: user_movie_viewing_parties_path(@user, @movie.id), local: true do |f| %>
  <%= f.label :duration, 'Duration (min)' %>
  <%= f.number_field :duration, options = { value: @movie.runtime, min: @movie.runtime } %>

  <%= f.label :date, 'Date' %>
  <%= f.date_field :date, min: Date.today %>

  <%= f.label :time, 'Start Time' %>
  <%= f.time_field :time %>

  <ul id="invited_users_list">
    <% @all_users.each do |user| %>
      <% if user == @user %>
        <%= f.check_box :invited_users, { checked: true, style: 'visibility: hidden', multiple: true }, @user.id, nil %>
      <% else%>
        <li>
          <%= f.label :invited_users, user.user_name%>
          <%= f.check_box :invited_users, {multiple: true}, user.id, nil %>
        </li>
      <% end%>
    <% end %>
  </ul>

  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.hidden_field :host, value: @user.user_name %>
  <%= f.hidden_field :movie_title, value: @movie.title %>
  <%= f.hidden_field :image_path, value: @movie.image_link %>


  <%= f.submit %>
<% end %>