 <h2> <%= "Create Viewing Party For #{@movie.title}" %> </h2>
<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
<%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing_parties", method: :post, local: true do |form| %>
<%= form.label :movie_title %>
<%= form.text_field :movie_title, value: @movie.title, :readonly => true %><br>
<%= form.label :duration, "Duration of Party" %>
<%= form.text_field :duration, value: @movie.runtime %><br>
<%= form.label :date, "Date of Party" %>
<%= form.date_field :date, data: {provide: "datepicker"}  %><br>
<%= form.label :start_time, "Start Time of Party" %>
<%= form.time_field :start_time %><br>
<% @users.each do |user|%>
<%= form.check_box "#{user.id}" %>
<%= form.label "#{user.id}", "#{user.name} (#{user.email})" %>
<% end %><br>
<%= form.submit :'Create Party' %>
<% end %>