<h1>Create a Movie Party for <%= @movie.title %></h1>
<p>Movie Title: <%= @movie.title %>
<%= form_with url: "/users/#{@user.id}/movies/#{@movie.id}/viewing_parties", method: :post, local: true do |f| %>
  <%= f.label :duration_of_party %>
  <%= f.number_field :duration_of_party, value: @movie.runtime, required: true  %><br>
  <%= f.label :day %>
  <%= f.date_field :day, required: true %><br>
  <%= f.label :start_time %>
  <%= f.time_field :start_time, required: true %><br>
  <%= f.collection_check_boxes(:user_ids, User.all_but_current(@user), :id, :name) %>
  <%= f.submit %>
<% end %>
