<h2>Create a Movie Party for <%= @movie.title %></h2>

<br/>

<center>
  <img src="https://image.tmdb.org/t/p/w200<%= @movie.poster_path %>">

<%= form_with url: movie_viewing_parties_path(@movie.movie_id), method: :post, local: true do |f| %>
  <%= f.hidden_field :host_id, value: current_user.id %>
  <%= f.hidden_field :movie_id, value: @movie.movie_id %>
  <%= f.hidden_field :movie_name, value: @movie.title %>
  <%= f.hidden_field :poster_path, value: @movie.poster_path %>

  <br/>
  <br/>

  <%= f.label :duration, "Duration of Party: " %>
  <%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime, required: true %>

  <br/>
  <br/>

  <%= f.label :eventdate, "Date: " %>
  <%= f.date_field :eventdate, min: Date.today, required: true %>

  <br/>
  <br/>

  <%= f.label :starttime, "Start Time: " %>
  <%= f.time_field :starttime, minute_step: 15, ampm: true, required: true %>

  <br/>
  <br/>
  <br/>

<h2>Invite Other Users</h2>

<br/>
<br/>

<section id="invite_others">
  <%= f.collection_check_boxes(:attendees, @attendees, :id, :name_and_email, include_hidden: false) do |attendee| %>
    <div id='check_boxes'>
      <%= attendee.check_box %>
      <%= attendee.label %>
    </div>
  <% end %>
</section>

<br/>
<br/>

  <%= f.submit 'Create Party' %>

  <br/>
  <br/>
<% end %>

  <br/>

<div id='button'>
  <%= button_to "Discover Page", discover_path, method: :get %>
</div>

</center>

<br/>
<br/>
