<center><h2>Create a Movie Party for <%= @movie.movie_title %></h2></center>
<center><%= button_to 'Discover Page', discover_index_path, method: :get %></center>

<hr>
<section id="viewing_party_form">
  <center>
  <h3>Viewing Party Details</h3>
  <%= form_with url: movie_viewing_parties_path(@movie.id), local: true do |f| %>
    <p>
    <%= f.label :movie_title, 'Movie Title' %>
    <%= f.text_field :movie_title, readonly: true, value: @movie.movie_title %>
    </p>

    <p>
    <%= f.label :duration, 'Duration of Party' %>
    <%= f.number_field :duration, min: @movie.runtime, value: @movie.runtime %>
    </p>

    <p>
    <%= f.label :start_time, 'Start Time' %>
    <%= f.datetime_field :start_time %>
    </p>

    <h4>Invite Other Users:</h4>

    <% @users.each do |user| %>
      <p>
      <%= f.label :invitees, "#{user.name} (#{user.email})" %>
      <%= f.check_box :invitees, { :multiple => true }, user.id, nil %>
      </p>
    <% end %>

    <p><%= f.submit 'Create Party' %></p>
  <% end %>
  </center>
</section>
<hr>
