<section id="info">
  <p>Title: <%= @movie.title %></p>
  <p>Vote Average: <%= @movie.vote_average %></p>
  <p>Runtime: <%= "#{@movie.runtime/60} hour(s) " "#{@movie.runtime%60} minutes" %></p>
  <p>Genre(s): <% @movie.genre.each do |genre| %>
                  <%= genre[:name] %>
              <% end %>
  </p>
  <p>Summary: <%= @movie.summary %></p>
</section>

<section id="cast">
  <p>Cast</p>
  <% @cast.each do |person|%>
    <p>Name: <%= person.name %></p>
    <p>Character: <%= person.character %></p>
  <% end %>
</section>