<h1>Movie Details</h1>

<%= button_to "Create Viewing Party", "/users/#{params[:user_id]}/movies/#{params[:movie_id]}/viewing-party/new", method: :get %>

<%= button_to "Discover Page", "/users/#{params[:user_id]}/discover", method: :get %>


<p>Title: <%= @movie.title %></p>
<p>Voting Average: <%= @movie.vote_average %></p>
<p>Runtime: <%= @movie.runtime %></p>
<p>Runtime: <%= @movie.runtime %></p>
<p>Genre(s): <% @movie.genre.each do |genre| %>
  <%= genre %>
<% end %></p>
<p>Summary: <%= @movie.summary %></p>

<h3>Cast</h3>
<% @movie.cast.each do |credit| %>
  <%= credit %><br>
<% end %>

<h3>Review(s)</h3>
<p>Review Count: <%= @movie.review_count %></p>
<% @movie.reviews.each do |hash| %>
  <p><%= hash[:author] %>:<br></p>
  <p><%= hash[:review] %><br><br></p>
<% end %>
