<br>
<section id="buttons">
  <p><%= button_to "Create Viewing Party for #{@movie.title}", "/movies/#{@movie.id}/viewing_party/new", method: :get %><p>
</section>

<section id="info">
  <h2><%= @movie.title %></h2>
  <p>Vote Average: <%= @movie.vote_average %></p>
  <p>Runtime: <%= "#{@movie.runtime/60} hour(s) " "#{@movie.runtime%60} minutes" %></p>
  <p>Genre(s): <% @movie.genre.each do |genre| %>
                  <%= genre[:name] %>
              <% end %>
  </p>
  <p>Summary: <%= @movie.summary %></p>
</section>

<br>
<section id="cast">
  <h3>Cast</h3>
  <% @cast.each do |person|%>
    <p>
    <%= "#{person.name} ~~~~~~" %>
    as: <%= person.character %>
    </p>
  <% end %>
</section>

<br>
<section id="reviews">
<% if @reviews %>
  <h3>Reviews</h3>
    <% @reviews.each do |review|%>
    <p><%="There are #{@reviews.count} reviews for #{@movie.title}"  %></p>
      <p>Author Name: <%= review.name %></p>
      <p>Author Handle: <%= review.user_name %></p>
      <p>Review: <%= review.content %></p>
      <p>Rating: <%= review.rating %></p>
      <br>
      <br>
    <% end %>
  <% end %>
</section>
