<% if params[:q] == "keyword" %>
  <h3>Movie results for: <%= params[:q] %></h3>
<% end %>

<button id='return-to-discover-button'>
  <%= button_to 'Discover Page', user_discover_index_path(@user), method: :get %>
</button>

<div id='movie-results'>
  <table style="width:50%;">
    <tbody>
      <% @movies.each_with_index do |movie, i| %>
        <tr id="movie-<%= i+1 %>">
          <td style="text-align:left"><%= link_to movie.title, user_movie_path(@user, movie.id) %></td>
          <td style="text-align:left">Vote Average: <%= movie.vote_average %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>