
<% if @top_movies %>
  <% @top_movies.each do |movie| %>

    <h1><%= movie.title %></h1>
    <h3>Movie ID: <%= movie.id %></h3>
    <h3>Average Rating: <%= movie.average_rating %><br/><br/></h3>

  <% end %>
<% end %>

<% if @search_movie %>

  <h1> Search Results: </h1>

  <% @search_movie.each do |movie| %>

    <h1><%= movie.title %></h1>
    <h3>Movie ID: <%= movie.id %></h3>
    <h3>Average Rating: <%= movie.average_rating %><br/><br/></h3>

  <% end %>

<% end %>
