<h1><%= @show_movie.title %></h1>

<div id="discover-page-button">
  <%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>
</div>

<div id="movie-information">
  <h3>Movie Information</h3>
  <p>Vote Average: <%= @show_movie.vote_average %></p>
  <p>Runtime: <%= @show_movie.runtime %></p>
  <p>Genres:<br>
    <% @show_movie.genres.each do |genre| %>
      - <%= genre %><br>
    <% end %>
  </p>
  <p>Summary: <%= @show_movie.overview %></p>
</div>

<div id="cast-information">
  <h3>Cast Information</h3>
  <% @actors.each do |actor|  %>
    <p>
    <%= actor.name %><br>
    Popularity Rating: <%= actor.popularity.round(1) %><br>
    </p>
  <% end %>
</div>