<%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_viewing_party_path(@user, @movie), method: :get %>
<%= button_to "Discover", discover_user_path(@user), method: :get %>
<div id="movie">
  <p>Movie Title: <%= @movie.title %></p>
  <p>Runtime: <%= @movie.runtime %></p>
  <p>Genre: <%= @movie.genre %></p>
  <p>Summary: <%= @movie.overview %></p>
</div>
