<%= button_to "Create Viewing Party for #{@movie.title}", new_user_movie_viewing_party_path(@user, @movie.id), method: :get %>
<%= button_to "Discover", discover_user_path(@user), method: :get %>
<div id="movie">
  <p>Movie Title: <%= @movie.title %></p>
  <p>Runtime: <%= @movie.runtime %></p>
  <p>Genre: <%= @movie.genres %></p>
  <p>Summary: <%= @movie.overview %></p>
  <p>Cast</p>
  <div id="cast">
    <% @movie.cast.each do |cast_member| %>
      <p><%= "Actor: #{cast_member[:name]}" %></p>
      <p><%= "Character: #{cast_member[:character]}" %></p>
    <% end %>
  </div>
  <div id="reviews">
    <p><%= @movie.review_total %> Reviews</p>
    <% @movie.reviews.each do |review| %>
      <p><%= "Review Author: #{review[:author]}"%></p>
      <p><%= "Review: #{review[:content]}" %></p>
    <% end %>
  </div>
</div>
