<h3 id='movie-title'><%= @movie.title %></h3>

<%= button_to "Discover Page", user_discover_index_path(@user), method: :get %>
<%= button_to "Create Viewing Party for The Godfather", new_user_movie_viewing_party_path(@user, @movie.id), method: :get %>

<div id='movie-details'>

  <p>Vote: <%= @movie.vote_average.round(1) %></p><p>Runtime: <%= @movie.runtime/60 %>hr <%= @movie.runtime % 60 %>min</p>
  <p>Genre: <%= @movie.genres.join(', ') %>

</div>
