  <% party_list.each do |party| %>
    <div id="a-party">
      <h3><%= party.movie.title %> Party</h3>
      Host: <%= party.host %><br>
      <p></p>
      Attendees: 
      <% party.users.each do |user| %>
        <% if user == @user %> 
          <b><%= user.name  %></b>
        <% else %>
          <%= user.name  %>  
        <% end %>
      <% end %>
      <p>
      <%= link_to party.movie.title, user_movie_path(@user, party.movie_id) %><br>
      <p>
      <img src="https://image.tmdb.org/t/p/w500<%= party.movie.poster %>" ><br>
      <p></p>
      Start Date: <%= party.start_time.strftime("%A, %B %d, %Y")%><br>
      Start Time: <%= party.start_time.strftime('%I:%M %P') %><br>
      Party Duration: <%= party.duration %> minutes<br>
    </div>
  <% end %>