<div id="#{party_type}_#{viewing_party.id}">
<p>Movie Title: <%= link_to viewing_party.movie.title, movie_path(viewing_party.movie) %></p>
<p><%= viewing_party.movie.image %></p>
<p>Date of Event: <%= viewing_party.date %></p>
<p>Start Time: <%= viewing_party.start_time %></p>
<% if @user == viewing_party.host %>
  <p>Host: <%= viewing_party.host %></p>
<% else %>
  <p>You are the host of this viewing party.</p>
<% end %>
<p>Invited: </p>
<% viewing_party.users.each do |user| %>
  <% if @user.name == user.name  %>
    <b><%= user.name %></b>
  <% else %>
    <%= user.name %>
  <% end %>
<% end %>
</div>
