<ul id='<%=party_type%>_parties'>
  <% party_type == 'hosted' ? parties = @user.find_hosted_parties : parties = @user.find_invited_parties %>
  <% parties.each do |party|%>
    <li id="party_<%=party.id%>">
      <img id ="image_<%=party.id%>" src="http://image.tmdb.org/t/p/w92<%=party.image_path%>" alt="<%=party.movie_title%>'s Image">
      <p><%=link_to party.movie_title, user_movie_path(@user, party.movie_id) %></p>
      <p id ="host_<%=party.id%>">
        Hosted by: <%= party.host %>
      </p>
      <p>My Role: <%= role %></p>
      <!-- <p>Duration: <%=party.duration%> min </p> -->
      <p>Starting on <%= party.start_time.to_date %> at <%= party.start_time.strftime("%I:%M %p")%></p>
      <p>User's Invited to Viewing Party</p>
      <ul id ="invited_users_<%=party.id%>">
        <% party.invited_users.each do |invited_user| %>
          <li>
            <% if (invited_user == @user)&&(party.host != @user.user_name) %>
              <b><%=invited_user.user_name%></b>
            <% else %>
              <%=invited_user.user_name%>
            <%end%>
          </li>
        <% end%>
      </ul>
    </li>
    <br>
  <% end%>
</ul>