<h1> <%= @user.name %>'s Dashboard </h1>
<%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get %>

<% @user.viewing_parties.each do |party| %>
  <p><%= party.movie_title%></p>
  <p>Date: <%= party.start_time.strftime("%Y-%m-%d") %></p>
  <p>Starting Time: <%= party.start_time.strftime("%H:%M:%S") %></p>
  <p>Status: <%= ViewingPartyUser.find_by(user_id: @user.id, viewing_party_id: party.id).status%></p>
  <br>
  <br>
<% end %>
