<h2> <%= @user.name %>'s Dashboard </h2>
<%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get %>
<hr>
  <h3>Viewing Parties:</h3>

<% @user.viewing_parties.each do |party| %>
  <p><%= party.movie_title%></p>
   <%# <%binding.pry  %>
  <p>Date: <%= party.date %></p>
  <p>Starting Time: <%= party.start_time.strftime("%H:%M") %></p>
  <p>Status: <%= ViewingPartyUser.find_by(user_id: @user.id, viewing_party_id: party.id).status%></p>
  <br>
  <br>
<% end %>
