<h3>Discover Movies</h3>

<%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies", method: :get, local: true, params: {q: "top_rated"} %>

<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %>
  <%= f.label :search, 'Search' %>
  <%= f.text_field :search %>
  <%= f.submit "Find Movies" %>
<% end %>

<% if @movies %>
  <% @movies.each do |m| %>
    <div id="movie-<%= m.id %>">
      <p><%= link_to m.title, "/users/#{@user.id}/movies/#{m.id}" %> - Rated <%= m.vote_average %></p>
    </div>
  <% end %>
<% end %>
