<center>
<h1>Viewing Party Lite</h1>
</center>

<center>
<h2>Discover Movies</h2>
</center>

<center>
<%= button_to "Find Top Rated Movies", "users/:user_id/movies?q=top%20rated", method: :get %> 
</center>
<br>
<center>
<%= form_with url: "/users/:user_id/movies?q=keyword", local: true do |form| %>
  <%= form.label :keyword, 'Search by Movie Title' %>
  <%= form.text_field :keyword %>
  <%= form.submit 'Find Movies' %>
<% end %>
</center>