<h1>Discover Movies Page</h1>

<%= button_to "Discover Top Rated Movies" %><br>

<%= form_with url: "/search", method: :get, local: true do |f| %>
  <%= f.label :search, "Enter Keyword" %>
  <%= f.text_field :search %>
  <%= f.submit "Search by Movie Title" %>
  <% end %>
