<h1>Discover Movies</h1>
<p>
    <%= button_to "Discover Top Rated Movies", user_movies_path(@user.id), method: :get, params: {q: "top%rated"} %>     
</p>
<p>
    <%= form_with url: user_movies_path(@user.id), method: :get, skip_enforcing_utf8: true, local: true do |f| %>
        <%= f.label :search, 'Search by Movie Title' %>
        <%= f.text_field :search, name: 'q' %>
        <%= f.submit 'Search by Movie Title', name: nil %>
    <% end %>
</p>