<h1>Discover your Favorite Movies</h1>
<%= button_to 'Top Movies', '/movies/top_movies', method: :get%>
<br>
<br>
<hr>
<%= form_with url: '/movies/search_results', method: :get do |f|  %>
<%= f.label :search, "Search" %>
<%= f.text_area :search %>
<%= f.button 'Search' %>
<%= f.hidden_field :user_id, value: "#{params[:id]}" %>
<% end %>
