<h1>Discover Movies Page</h1>

<%= button_to "Discover Top Rated Movies", "/users/#{@user.id}/movies", method: :get, params: {q: 'top 20rated'}, local: true %><br>

<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %>
  <%= f.label :q, "Enter Keyword" %>
  <%= f.text_field :q %>
  <%= f.submit "Search by Movie Title" %>
  <% end %>
