<h1>Viewing Party Lite</h1>
<h2>Discover Movies</h2>

<%= button_to 'Discover Top Rated Movies', "/" %>  

<%= form_with url: "/users/:user _id/movies?q=keyword", local: true do |form| %>
  <%= form.label :search, 'Search By Movie Title:' %>
  <%= form.text_field :search %>
  <%= form.submit 'Find Movies' %>
<% end %>
