
<main class="form-signin w-50 m-auto">
  <center><h1 class="display-5 fw-bold">Existing User</h1></center>
  <%= form_with url: '/login', method: :post, local: true, class: "form-control" do |f| %>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.label :email, "Email" %>
          <%= f.email_field :email, {class: "form-control input-sm", id: "floatingInput", placeholder:"name@example.com"} %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, { class: "form-control input-sm", id: "floatingInput", placeholder: "Password" } %>
        </div>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <div class="col-md-4 offset-4">
          <%= f.label :password_confirmation, "Re-Enter Password" %>
          <%= f.password_field :password_confirmation, { class: "form-control input-sm", id: "floatingInput", placeholder: "Re-enter password" } %>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-4">
      <%= f.submit "Login", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>
</main>
