<div id='login'>
  <%= form_with url: login_path, method: :post, local: true do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit 'Log In' %>
  <% end %>
</div>