<h1>  Register for an account to create totally not awkward viewing parties with complete strangers! </h1>


<%= form_with url: '/register', method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name  %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  <%= f.submit %>
<% end %>
