<div class="container">
  <div class="grid">
    <div class="g-col-10 g-start-4">
      <%= form_with model: @user, local: true do |form|  %>
        <div class="form-floating">
          <%= form.text_field :name, class: "form-control", placeholder: "Name" %>
          <%= form.label :name, "Name" %>
        </div>

        <div class="form-floating">
          <%= form.email_field :email, class: "form-control", placeholder: "name@example.com" %>
          <%= form.label :email, "Email" %>
        </div>

        <div class="form-floating">
          <%= form.password_field :password, class: "form-control" %>
          <%= form.label :password, "Password" %>
        </div>

        <div class="form-floating">
          <%= form.password_field :password_confirmation, class: "form-control" %>
          <%= form.label :password_confirmation, 'Confirm password' %>
        </div>
        <%= form.submit "Register", class: "w-100 mb-3 btn btn-lg btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
