<center><h3><%= "Register a New User" %></h3></center>
<body>
  
    <center><table>
      <%= form_with url: "/register", method: :post, local: true do |f| %>
      <tr>
        <td> <%= f.label :name %> </td>
        <td> <%= f.text_field :name %> </td>
      </tr>
      <tr>
        <td> <%= f.label :email %> </td>
        <td> <%= f.text_field :email %> </td>
      </tr>
      <tr>
        <td> <%= f.submit "Create New User" %> </td>
      </tr>
      <% end %>
    </table></center>
    
</body>
