<%= form_with model: @user, method: :post, local: :true, class: "column g-3 container-sm", id: "create_user" do |form| %>
  <div class="row mb-3 text-info fw-bold">
    <%= form.label "Name", class: "col-form-label col-form-label-sm" %>
    <div class="col-sm-3">
      <%= form.text_field :name, class: "form-control form-control-sm", placeholder: "Joe Bob" %>
    </div>
  </div>
  <div class="row mb-3 text-info fw-bold">
      <%= form.label "Email", class: "col-form-label col-form-label-sm" %>
      <div class="col-sm-3">
        <%= form.email_field :email, class: "form-control form-control-sm", placeholder: "JoeBob@gmail.com" %>
      </div>
    </div>
    <%= form.submit "Register", class: "btn btn-primary" %>
<%end %>