<div class="new_user_heading">
  <center>
    <h1>Become a User</h1>
  </center>
</div>
<%= form_with model: @user, class: "new_form", local: true do |form| %>
  
  <div class="name_field">
    <%= form.label :name, 'Name:', class: "left" %>
    <%= form.text_field :name, class: "right" %>
  </div>

  <div class="email_field">
    <%= form.label :email, 'Email:', class: "left" %>
    <%= form.text_field :email, class: "right" %>
  </div>
  <div class="password_field">
    <%= form.label :password, 'Password:', class: "left" %>
    <%= form.password_field :password, class: "right" %>
  </div>
  <div class="confirm_field">
    <%= form.label :password_confirmation, 'Password Confirmation:', class: "left" %>
    <%= form.password_field :password_confirmation, class: "right" %>
  </div>

  <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
<% end %>
