<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_with url: "/users/create", method: :post do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit "Create New User" %>
<% end %>
