<h1>Viewing Party</h1><br>
<h3><%= "New User" %></h3>

<body>
  
    <table>
      <%= form_with url: "/register", method: :post, local: true do |f| %>
      <tr>
        <td> <%= f.label :name %> </td>
        <td> <%= f.text_field :name %> </td>
      </tr>
      <tr>
        <td> <%= f.label :email %> </td>
        <td> <%= f.text_field :email %> </td>
      </tr>
      <tr>
        <td> <%= f.submit "Submit" %> </td>
      </tr>
      <% end %>
    </table>
    
</body>
