<style>
.new_user{
  text-align: center;
}
</style>

<div class="new_user">
<%= form_with model: @user, local: true do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p> <br>
  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p> <br>

  <%= f.submit 'Register' %>
<%end%>
</div>
