<div id='dashboard'>
 <%= render partial: "shared/navbar" %>
</div>
<br>
<h2>Register A New User</h2>

<%= form_with url: users_path, method: :post, local: true do |form| %>
  <%= form.text_field :name %>
  <%= form.label "Name" %>
  <%= form.text_field :email %>
  <%= form.label "E-Mail Address" %>
  <%= form.submit "Register"%>
<% end%>