<%= render "layouts/header" %>

<h1>Register</h1>

<center><%= form_with url: "/register", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br><br>

  <%= f.submit "Register" %>
<% end %></center>
