<h1>Create New User</h1>

<%= form_with model: @user, local: true do |form| %>
  <%= form.label :name, 'Name:' %>
  <%= form.text_field :name %><br>

  <%= form.label :email, 'Email:' %>
  <%= form.text_field :email %><br>

  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password %><br>
  
  <%= form.label :password_confirmation, 'Password Confirmation:' %>
  <%= form.password_field :password_confirmation %><br>
  <%= form.submit 'Create User' %>
<% end %>

