<h2>Create a New Account</h2>

<%= form_with url: users_path, method: :post, local: true do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %><br>
  <%= f.label :email, "Email" %>
  <%= f.text_field :email %><br>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %><br>
  <%= f.label :password_confirmation, "Password Confirmation" %>
  <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Register" %>
<% end %>