<div style="text-align:center;">
  <h1>New User Registration</h1>
  <br>
  <br>
  <br>
  <%= form_with url: users_path, method: :post, local: true do |f| %>
    <table style="margin:auto;">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
      </tr>
    </table>
    <%= f.submit 'Register' %>
  <% end %>
</div>
