<h2>Register A New User</h2>

<%= form_with url: users_path, method: :post, local: true do |form| %>
  <%= form.text_field :name %>
  <%= form.label "Name" %>
  <%= form.text_field :email %>
  <%= form.label "E-Mail Address" %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.label :password_confirmation, "Password Confirmation:" %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit "Register"%>
<% end%>