<h3><center>Register a New User</center><h3>

<center>
  <section>
    <%= form_with model: @user, url: "/users", method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <br>
      <%= f.submit 'Create New User' %>
    <% end %>
  </section>
</center>
