<h1>New User</h1>
<%= form_with url: "/users", method: :post, local: true do |f| %>
  <%= f.label :user_name %>
  <%= f.text_field :name, required: true  %><br>


  <%= f.label :email %>
  <%= f.text_field :email, required: true %><br>

  <%= f.submit %>
<% end %>
