<center>

  <h1> Viewing Party Lite </h1>

  <h2> Register a New User </h2>

  <% flash.each do |type, msg| %>
    <div> <%= msg %> </div>
  <% end %>

  <div class="form">
    <%= form_with url: '/users', method: :post, local: true do |f| %>
      <p><%= f.label :name %></p>
      <%= f.text_field :name %>
      <p><%= f.label :email %></p>
      <%= f.text_field :email %>
      <%= f.submit "Create New User" %>
    <% end %>
  </div/>

</center>
