<h2>New Party</h2>
<%= form_with url: users_path, local: true do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.submit 'Create User'%>
<% end %>
