<h1> Create New User </h1>

<%= form_with url: "/users", method: :post, local: true do |form| %>
  <%= form.label "Name: " %>
  <%= form.text_field :name  %>
  <%= form.label "Email: " %>
  <%= form.text_field :email  %>
  <%= form.label "Password" %>
  <%= form.password_field :password %>
  <%= form.label "Confirm Password" %>
  <%= form.password_field :password_confirmation %>
  <%= form.submit "Register" %>
<% end %>
