<h3><%= "#{@user.name}'s Dashboard" %></h3>
<%= button_to 'Discover Movies', user_discover_index_path(@user), method: :get %>
<hr>
<% @user.viewing_parties.each do |vp| %>
  
  <div id="viewing_party<%= vp.id %>">
    <%= vp.date.strftime('%B %d, %Y') %>
    <br>
    <%= vp.start_time.strftime("%I:%M %P") %>
    <br>
    <% if @user.find_viewing_party_user(vp).hosting %>
      <%= "Hosting" %>
    <% else %>
      <%= "Invited" %>
    <% end %>
    <br><br>
  </div>
<% end %>