<center><h2><%= "#{@user.name}'s Dashboard" %></h2></center>

<center><%= button_to 'Discover Movies', "/discover", method: :get %></center>

<hr>

<section id="viewing_parties">
  <% @user.movie_parties.each do |movie_party| %>
    <section id="party-<%= movie_party.id %>">
      <%= image_tag movie_party.poster_url, class: ".img", size: "150x225"  %>
      <h3><%= link_to movie_party.movie_title, movie_path(movie_party.movie_id) %></h3>
      <p><%= movie_party.start_time.strftime('%B %d, %Y - %I:%M %p') %></p>
      <p><%= movie_party.status(@user).capitalize %></p>
      <p>Invitees:</p>
      <ul>
        <% movie_party.user_movie_parties.each do |ump| %>

          <% if ump.user == @user %>
            <strong><li><%= "#{ump.user.name} (#{ump.user.email})" %>
            <%= ' (host)' if ump.status == 'hosting' %></strong></li>
          <% else %>
            <li><%= "#{ump.user.name} (#{ump.user.email})" %> 
            <strong><%= ' (host)' if ump.status == 'hosting' %></strong></li>
          <% end %>

        <% end %>
    </section>
    <hr>
  <% end %>
</section>