<h2><%= @user.name %>'s Dashboard</h2>

<%= button_to "Discover Movies", user_discover_index_path(@user), method: :get %>

<div id="viewing_parties">
  <h3> Viewing Parties </h3>
  <% @user.viewing_parties.each do |party| %>
    <% film = @movies.find do |movie| %>
      <% movie.movie_id == party.movie_id %>
    <% end %>
    <%= film.title %><br>
    <%= party.date.strftime('%B %d, %Y') %><br>
    <%= party.start_time.strftime('%I:%M %p') %><br>
    <% user_role = @user.user_viewing_parties.find do |user_viewing_party| %>
      <% user_viewing_party.viewing_party_id == party.id %>
    <% end %>
    <%= user_role.role %><br><br>
  <% end %>  
</div>