<h1><%= @user.name %>'s Dashboard</h1><br>
<section id='discover'>
<%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get %>
</section>
<section id='parties'>
  <h2>My Viewing Parties:</h2>
  <div class="hosting">
    <% @my_hosting.each do | party | %>
    <h3><b>Movie Title: </b><%= party.movie_name %></h3>
    <p><b>Movie Start Date: </b><%= party.start_date.strftime('%D') %></p>
    <p><b>Movie Start Time: </b><%= party.start_time.strftime('%r') %></p>
    <p><b>Status</b>: Hosting</p>
    <p>-----------------------------</p>
    <% end %>
  </div>
    <% @my_invitations.each do | party | %>
    <div class="invite">
      <h3><b>Movie Title: </b><%= party.movie_name %></h3>
      <p><b>Movie Start Date: </b><%= party.start_date.strftime('%D') %></p>
      <p><b>Movie Start Time: </b><%= party.start_time.strftime('%r') %></p>
      <p><b>Status</b>: Invited</p>
      <p>----------------------------</p>
      <% end %>
    </div>
</section>
