<h1><%= @user.name %>'s Dashboard</h1>

<div id="discover_movies">
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>

<div id="viewing_parties">
<h2>Viewing Parties</h2>
<ul>
<% @user.viewing_parties.each do |party| %>
  <img src=<%= party.poster %> alt="Poster for this movie" width="200" >
  <li><%= party.title %></li>
  <li><%= party.day %></li>
  <li><%= party.start_time %></li>
  <li>Hosting Status</li>
  <hr>
<% end %>
</ul>
</div>
