<h2><%= @user.name %>'s Dashboard</h2>

<p><%= button_to "Discover Movies", user_discover_index_path(user_id: @user.id), method: :get, local: true %></p>

<div id="viewingParties">
  <h2>Viewing Parties</h2>
  <% @parties.each do |party| %>
    <%= party.movie_name %>
    <%= party.date %>
    <%= party.start_time %>
    <%= party.movie_name %>
  <% end %>
</div>
