
<%=content_for :subtitle do%>
  <%= @user.name %>'s Dashboard
<%end%>

<%= button_to 'Discover Movies', "/users/#{@user.id}/discover"%>
<br>
<hr>
<div id='user-parties' style='width:100%; overflow-x: scroll;'>
  <h2>Viewing Parties</h2>
  <% @user.parties.each do |party| %>
    <div class='party-card' id='party-<%=party.id%>'style='float: left; margin: 15px'>
      <div class="poster">
      <img src="https://image.tmdb.org/t/p/original<%=MovieFacade.info_card(party.movie_id)[:img_path]%>" style='width:150px'>
      </div>

      <p class='title'><%= MovieFacade.info_card(party.movie_id)[:title]%></p>
      <p><%=party.date.strftime('%B %d, %Y')%></p>
      <p><%=party.start_time.strftime('%I:%M %P')%></p>
      <p><%=UserParty.where(user_id: @user.id, party_id: party.id).first.user_status%></p>
    </div>
  <%end%>
</div>