<h1> <%= @user.name %>'s Dashboard</h3>
  <p>
<div class="container" align="center" id="discover_movies">
      <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get%>
</div>
</p>
<br>
<h3>Viewing Parties</h3>

<div class='invites'>
<p></p><h4>My Invitations<h4>
<% @user.not_hosting.each do |party| %>
  <h3>Movie: <%= link_to "#{party.movie_title}", user_movie_path(@user.id, party.movie_id) %></h3>
  <img src='image.tmdb.org/t/p/w500<%= party.poster_path %>' alt="the movie poster for <%= party.movie_title %>">
  <p>Date: <%= party.formatted_date %></p>
  <p>Time of Movie: <%= party.formatted_time %> </p>
  <p>Host: </p>
  <p>Attendees: </p>
<% end %>
</div>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

