<%= render partial: './shared/header' %>

<h2><%= "#{@user.name}'s Dashboard" %></h2>
<p><%= button_to "Discover Movies", discover_user_path(@user), method: :get %></p>
<section id="viewing_parties">
  <% @viewing_parties.each do |party| %>
      <section id="party-<%=party[:party_id]%>">
    
        <p style="border-style:solid; border-width:2px; text-align:center">
        <%= link_to party[:title], "/users/#{@user.id}/movies/#{party[:movie_id]}" %>
        <br>
        <%= party[:event_date].strftime("%B %-d, %Y") %>
        <br>
        <%= party[:start_time].strftime("%I:%M %P") %>
      <% if party[:host_id] == @user.id %>
        <p><%="Hosting"%></p>
      <% else %>
        <p><%="Invited"%></p>
      <% end %>  

      <% end %>
      </p>  

  </section>
</section>