<h1>User Dashboard</h1>
<%= @user.name %>

<%= button_to 'Discover Movies', "/users/#{@user.id}/discover", method: :get %>

<h3> Viewing Parties </h3>

<% @user.parties.each do |party| %>
  <img src="<%= party.poster_path %>">
  <p>Date: <%= party.date %></p>
  <p>Start time: <%= party.start_time %></p>

<% end %>