<h1><center>Viewing Party </center></h1>
<h2><center><%= "#{@user.name}'s Dashboard" %> </center></h2>
<br>
<center><%= button_to "Discover Movies", discover_path(@user), method: :get %> </center>
<br>
<hr>
<div id='viewing_parties'>
    <h4><center>Current Viewing Parties<center></h4>
    <% @viewing_parties.each do |party| %>
            <ul>
                <p><b>Viewing Party</b>
                <li><%= party.start_date %></li>
                <li><%= party.start_time %></li>
                <li>Hosting: <%= party.host %></li>
                <li>Invited: <%= party.attendees %></li>
            </ul></p>
            <% end %>
</div>


