<h2><%= "#{@user.name}'s Dashboard" %></h2>

<%= button_to "Discover Movies", user_discover_index_path(@user.id), method: :get %>

<h3>Viewing Parties</h3>
<% @user.parties.each do |party| %>
  <h4><%= party.movie_title %></h4>
  Date: <%= party.date.strftime("%d/%m/%Y") %></br>
  Time: <%= party.start_time.strftime("%I:%M %p") %></br>
  Duration in minutes: <%= party.duration %></br>
<%end%> 