<h2><%= "#{@user.name}'s Dashboard" %></h2>

<%= button_to "Discover Movies", user_discover_index_path(@user.id), method: :get %>

<h3>Viewing Party Invitations</h3>
<% @user.parties.each do |party| %>
<div id="invitations-<%= party.id%>">
<%= image_tag("https://image.tmdb.org/t/p/original#{party.get_poster}") %>

  <h4><%= party.movie_title %></h4>
  Date: <%= party.date.strftime("%d/%m/%Y") %></br>
  Time: <%= party.start_time.strftime("%I:%M %p") %></br>
  Duration in minutes: <%= party.duration %></br>
  Party Host: <%= party.host_name %></br>
  Users Invited: <% party.users.each do |guest| %>
    <%= guest.name %>
  <%end%>
</div>
<%end%> 

<h3>Viewing Parties I am Hosting</h3>
<% @user.parties.each do |party| %>
<% if party.host == @user.id %>
<div id="hosting-<%= party.id%>">
<%= image_tag("https://image.tmdb.org/t/p/original#{party.get_poster}") %>
    <h4><%= party.movie_title %></h4>
    Date: <%= party.date.strftime("%d/%m/%Y") %></br>
    Time: <%= party.start_time.strftime("%I:%M %p") %></br>
    Duration in minutes: <%= party.duration %></br>
    Users Invited: <% party.users.each do |guest| %>
      <%= guest.name %>
    <%end%>
  <%end%> 
</div>
<%end%> 