<%= render partial: './shared/header' %>

<h2><%= "#{@user.name}'s Dashboard" %></h2>
<p><%= button_to "Discover Movies", discover_user_path(@user), method: :get %></p>
<section id="viewing_parties">
  <% @user.viewing_parties.each do |party| %>
    <% @viewing_party_details.each do |detail| %>
      <p style="border-style:solid; border-width:2px; text-align:center">
      <%= detail.title %>
      <br>
      <%= party.event_date.strftime("%B %-d, %Y") %>
      <br>
      <%= party.start_time.strftime("%I:%M %P") %></p>
    <% end %>  
  <% end %>
</section>