<div class="sub-header">
  <%= "#{@user.name}'s Dashboard" %></h3></center>
</div>

<div id="discover_link">
  <center><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %></center>
</div>

<div id='viewing_parties'>
  <h3> My Viewing Parties</h3>
  <div class="row-1">
    <div class="column-2">
      <% @parties_info.each do |party_info| %>
        <p><img src=<%= "#{party_info[:image]}"%>></p>
        <p><%= link_to "#{party_info[:title]}", "/users/#{@user.id}/movies/#{party_info[:movie_id]}" %></p>
        <p>Date: <%= party_info[:date].strftime("%B %d, %Y") %></p>
        <p>Time: <%= party_info[:time].strftime("%I:%M%p") %></p>
        <p>Duration: <%= party_info[:duration] %>mins</p>
        <p>Host: </p>
          <b> &emsp; <%= party_info[:host] %></b>
        <p>Attendees: <% party_info[:attendees].each do |attendee| %></p>
          <p> &emsp; <%= attendee.name %></p>
        <% end %> 
      </div>
    <% end %>
  </div>
</div>
