<h1><%= @user.name + "'s Dashboard" %></h1>

<div id="#discover-movie-btn">
  <%= button_to "Discover Movies", 
    user_discover_index_path(@user),
    method: :get %>
</div>

<h2>Viewing Parties</h2>

<div id="hosted-parties">
  <h3>Hosted Parties</h3>
  <ul>
    <% @user.hosted_parties.each do |party| %>
      <li>
        <p><%= link_to party.movie_title, user_movie_viewing_party_path(@user, party.movie_id, party) %></p>
        <p><%= party.start_time %></p>
      </li>
    <% end %>
  </ul>
</div>

<div id="invited-parties">
  <h3>Invited Parties</h3>
  <ul>
    <% @user.invited_parties.each do |party| %>
      <li>
        <p><%= link_to party.movie_title, user_movie_viewing_party_path(@user, party.movie_id, party) %></p>
        <p><%= party.start_time %></p>
      </li>
    <% end %>
  </ul>
</div>