<h2><%= "#{@user.name}'s Dashboard" %></h2>

<h3>User Information</h3><hr>
<h4><%= "Name: #{@user.name}" %></h4>
<h4><%= "E-mail: #{@user.email}" %></h4>
<br>
<h4><%= button_to "Discover Movies", user_discover_index_path(@user.id), method: :get %></h4>
<br>
<h3>Host Viewing Parties</h3>
<% @user.parties.each do |party| %>
    <% if party.host == @user.email %>
        <%= party.movie_name %>
    <% end %>
<% end %>
<h3>Viewing Party Invites</h3>

<% @user.parties.each do |party| %>
    <% if party.host != @user.email %>
      <p>Title: <%= party.movie_name %></p>
      <p>Host Email: <%= party.host %></p>
      <p>Date: <%= party.date.strftime('%T') %></p>
      <p>Start Time: <%= party.start_time %></p>
      <p>Duration: <%= party.duration / 60 %> h <%= party.duration % 60 %> min</p>
      <p>Guests </p>
      <% party.users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    <% end %>
<% end %>
