<style>
  .name {
    text-align: center;
  }
  .discover_button {
    text-align: center;
  }
  .viewing_parties {
    text-align: center;
  }

  .hr {
    border-width: 5px;
  }

  .party_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    gap: 10px;
}
</style>

<div class="name">
    <h2><%=@user.name%>'s Dashboard</h2>
</div>

<div class="discover_button">
  <%= button_to 'Discover Movies', user_discover_index_path(@user), :method => :get %>
</div>

<div class="hr">
  <hr>
</div>

<div class="viewing_parties">
  <h2>Viewing Parties</h2>
</div>

<div class="party_list">
  <% @parties.each do |party| %>
  <div class="parties-<%=party.id%>">
    <%= party.movie.get_info.title %><br>
    <a href="default.asp">
      <img src=<%= party.movie.get_poster %>><br>
    </a>
    <%= party.date.strftime("%A, %B %d, %Y") %><br>
    <%= party.start %>
  </div>
  <% end %>
</div>
