<h1><%= @user.name %>'s Dashboard</h1>
<br>
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>

<h2><%= @user.name %>'s Invites</h2>
<div id="invited">
  <% @user.parties.each do |party| %>
    <% if party.host != @user.id %>
    <% movie = @movies.find{ |movie| movie.id == party.movie_id } %>
    <% image = @images.find{ |image| image.id == party.movie_id } %>
      <h3><%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{party.movie_id}" %></h3>
      <img  src="http://image.tmdb.org/t/p/w500/<%=image.file_path%>" width="120" height="150">
      <br>
      Host: <%= party.host_name  %>
      <br>
      <%= party.start_time %>
      <br>
      <h4>Invited</h4>
      <ol>
      <% party.users.each do |user| %>
          <% if user.id == @user.id %>
            <li><b><%= user.name %></b></li>
          <% else %>
            <li><%= user.name %></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>
<br>
<br>
<h2>Parties <%= @user.name %> is Hosting</h2>
<div id="hosting">
  <% @user.parties.each do |party| %>
    <% if party.host == @user.id %>
    <% movie = @movies.find{ |movie| movie.id == party.movie_id } %>
    <% image = @images.find{ |image| image.id == party.movie_id } %>
      <h3><%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{party.movie_id}" %></h3>
      <br>
      <img  src="http://image.tmdb.org/t/p/w500/<%=image.file_path%>" width="120" height="150">
      <br>
      <%= party.start_time %>
      <br>
      <h4>Invited</h4>
      <ol>
      <% party.users.each do |user| %>
          <% if user.id != @user.id %>
            <li><%= user.name %></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>
  <% end %>
</div>
