<h3><%= @user.name %>'s Dashboard</h3>

<%= button_to "Discover Movies", discover_path(@user), method: :get %>
<p>-------------------------------------------</p>

<div id="viewing-parties">
  <% @user.parties.each do |party| %>
    <p><%= @movie_title %></p>
    <p><%= party.date.strftime("%B %e, %Y") %></p>
    <p><%= party.start_time.in_time_zone("America/Denver").strftime("%l:%M %P") %></p>
  <% end %>
</div>
