<h2><%= @user.name %>'s Dashboard</h2>
<%= button_to "Discover Movies", user_discover_path(@user.id), method: :get %>
<h3>Viewing Parties</h3>
<div id="vp_container">
  <% @user.hosted_viewing_parties.each do |vp| %>
    <div id="vp_<%= vp.id %>">
      Movie Info Goes Here<br><br>
      <%= vp.date.strftime("%B %-d, %Y") %><br>
      <%= vp.start_time.strftime("%l:%M %P") %><br><br>
      Hosting
    </div>
  <% end %>
  <% @user.viewing_parties.each do |vp| %>
    <div id="vp_<%= vp.id %>">
      Movie Info Goes Here<br><br>
      <%= vp.date.strftime("%B %-d, %Y") %><br>
      <%= vp.start_time.strftime("%l:%M %P") %><br><br>
      Invited
    </div>
  <% end %>
</div>
