<h1><%= @user.name %>'s Dashboard</h1>
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>

<div class="invited">
<h2>Viewing Parties</h2>
<h3>Parties I am invited to</h3>
<% @user.invited_parties.each do |party| %>
<% if party.user_id != @user.id %>
<p>Movie: <%= link_to "#{party.movie_id}", "/users/@user.id/movies/#{party.movie_id}" %></p>
<p>Date: <%= party.date %></p>
<p>Time: <%= party.start_time %></p>
<p>Attendees: <% party.users.each do |user| %>
<p><%= "#{user.name}" %><p>
  <% end %>
  <% end %>
  <% end %>
</div>

<div class="hosting">
<h3>Parties I am hosting</h3>
<% @user.hosting_parties.each do |party| %>
<p>Movie: <%= link_to "#{party.movie_id}", "/users/@user.id/movies/#{party.movie_id}" %></p>
<p>Date: <%= party.date %></p>
<p>Time: <%= party.start_time %></p>
<p>Attendees: <% party.users.each do |user| %>
<p><%= "#{user.name}"  %><p>
  <% end %>
  <% end %>
</div>
