<h1>Viewing Party Lite</h1>
<h2><%= @user.name %>'s Dashboard</h2>

<p><%= link_to "Discover Movies", "/users/#{@user.id}/discover" %></p>
<hr>
<p>Viewing Parties</p>
<% @parties.each do |party| %>

  <p>
    <img src="<%= party.poster_path %>" alt="movie_image" >
    <%= require "pry"; binding.pry %>
    <%= party.title %>
    <%= party.day %>
    Start Time: <%= party.start_time %>

    <%= party[:host] %>
    <%= party.host %>

  </p>
<% end %>
