<div id="title">
<h1><%= @user.name %></h1>
</div>

<div id="discover-movies">
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>

<div id="watch-parties">
<h2>Current Scheduled Parties!</h2>
<% @user.parties.each do |party| %>
  <div id="party_id-<%= party.id%>">
  <% @movies.each do |movie| %>
    <% if movie[:id] == party.movie_id %>
      <p><%= movie[:title] %></p>
      <p>When: <%= party.when.strftime('%B %d, %Y') %></p>
      <p>Start Time: <%= party.start_time.strftime('%I:%M %p') %></p>

      <% if party.user_id == @user.id %>
        <b>Hosting</b>
      <% end %>

      <% party.attendees.each do |attendee| %>

        <% if attendee.user_id == @user.id %>
          <i>Invited</i>
        <% end %>
      <% end %>

      <br><br><br>
  </div>
    <% end %>
  <% end %>
<% end %>
</div>