<h1><%= @user.name + "'s Dashboard" %></h1>

<div id="#discover-movie-btn">
  <%= button_to "Discover Movies", 
    user_discover_index_path(@user),
    method: :get %>
</div>

<h2>Viewing Parties</h2>

<div id="hosted-parties">
  <h3>Hosted Parties</h3>
  <ul>
    <% @user.hosted_parties.each do |party| %>
      <li>
        <p><%= link_to party.movie_title, user_movie_path(@user, party.movie_id) %></p>
        <h4>Host: <%= @user.name %></h4>
        <% party.users.each do |user| %>
          <p><%= user.name %></p>
        <% end %>
        <p><%= party.start_time %></p>
      </li>
    <% end %>
  </ul>
</div>

<div id="invited-parties">
  <h3>Invited Parties</h3>
  <ul>
    <% @user.invited_parties.each do |party| %>
      <li>
        <p><%= link_to party.movie_title, user_movie_path(@user, party.movie_id) %></p>
        <% party.users.each do |user| %>
          <% if user.id == party.host_id %>
            <p>Host: <%= user.name %></p>
          <% elsif user.name == @user.name %>
            <p class="user-name"><b><%= user.name %></b></p>
          <% else %>
           <%= user.name %>
          <% end %>
        <% end %>
        <p><%= party.start_time %></p>
      </li>
    <% end %>
  </ul>
</div>