<h3><%= "#{@user.name}'s Dashboard" %></h3>

<%= button_to "Discover Movies", user_discover_path(@user.id), method: :get, local: true %>

<h4><%= "#{@user.name}'s View Parties" %></h4>
<% @user.user_events.each do |user_e| %>
  <p>Movie - <%= user_e.event.movie_title %></p>
  <p><%= user_e.event.day %></p>
  <p><%= user_e.event.start_time %></p>
<% end %>