<h3>
  <%= @user.name %>'s Dashboard
</h3>
<hr>

<p type="button" class="btn btn-outline-primary"><%= link_to "Discover Movies", user_movies_discover_path(@user) %></p>
<hr>
<div class="card-group">
  <% @viewing_parties.each do |party| %>

    <div class="card text-center" id="movie-<%= party[:movie].id %>" style="width: 18rem;">

      <img src="https://image.tmdb.org/t/p/w500<%= party[:movie].image %>" class="card-img-top" alt=<%= party[:movie].title %>>
      <div class="card-body">
        <h5 class="card-title"><%= party[:movie].title%></h5>
        <hr>
        <p class="card-text"><%= party[:party].date.strftime("%B %d, %Y") %></p>
        <p class="card-text"><%= party[:party].time %></p>
        <hr>
        <% if party[:host] == false %>
          <p class="card-text">Invited</p>
        <% else %>
          <p class="card-text">Hosting</p>
        <% end %>
        <hr>
        <% party[:party].users.each do |user| %>
          <% if user.id == @user.id %>
            <p>
              <strong><%= user.name %></strong>
            </p>
          <% else %>
            <p><%= user.name %></p>
          <%end %>
        <% end  %>
      </div>
    </div>

  <% end %>
</div>