<h3><%= @user.name %>'s Dashboard</h3>

<%= render 'partials/discover_button' %>
<p>-------------------------------------------</p>

<div id="viewing-parties">
  <% @user.parties.each do |party| %>
    <p><%= @movie_title %></p>
    <p><%= party.date.strftime("%B %e, %Y") %></p>
    <p><%= party.start_time.strftime("%l:%M %P") %></p>
  <% end %>
</div>
