<div id="whitespace">
  <center>
    <h1> Viewing Party Lite </h1>
    <h2>
      <%= "#{@user.name}'s Dashboard" %> <br>
    </h2>
      <div class="button">
        <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
      </div>
      <br>
    <div>
      <hr><br>
      <h2>Viewing Parties</h2>
      <% if !@user.user_view_parties.empty? %>
        <% @user.user_view_parties.each do |uvp| %>
          <div id="box">
            <%= image_tag "https://image.tmdb.org/t/p/original#{uvp.view_party.movie_image_path}", width: '200' %><br>
            <strong><%= uvp.view_party.movie_title %></strong> <br>
            <%= uvp.view_party.date.strftime("%b %d, %Y") %> <br>
            <%= uvp.view_party.time.strftime("%I:%M %p") %> <br>
            <% if uvp.host %>
              <p>Hosting</p>
            <% else %>
              <p>Invited</p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </center>
</div>
