<%=content_for :subtitle do%>
  <h3><%= @user.name %>'s Dashboard</h3>
  <%end%>

<%= render 'partials/discover_button' %>

<div id="viewing-parties">
  <% @user.parties.each do |party| %>
    <p><%= @movie_title %></p>
    <p><%= party.date.strftime("%B %e, %Y") %></p>
    <p><%= party.start_time.strftime("%l:%M %P") %></p>
  <% end %>
</div>
