<h2><%= @user.name %>'s Dashboard</h2>

<p><%= button_to "Discover Movies", "/user/#{@user.id}/discover", method: :get, local: true %></p>

<div id="viewingParties">
  <h2>Viewing Parties</h2>
  <% @parties.each do |party| %>
    <b>Movie: </b><%= party.movie_name %>
    <b>Date: </b><%= party.date %>
    <b>Start Time: </b><%= party.start_time.strftime('%H:%M') %>
      <br>
  <% end %>
</div>
