<h1><%= @user.name %>'s Dashboard</h1>

<div id="discover_movies">
<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
</div>

<div id="viewing_parties">
<h2>Viewing Parties</h2>
<ul>
<% @user.viewing_parties.each do |party| %>
  <div id="<%= "viewing_party_#{party.id}" %>">
    <img src=<%= party.poster %> alt="Poster for this movie" width="200" >
    <li><h4>Movie Title: <%= party.title %></h4></li>
    <li>Viewing Party Date: <%= party.day %></li><br>
    <li>Viewing Party Time: <%= party.start_time %></li>
    <% if party.user_id == @user.id %>
    <br><li>Hosting</li>
    <% else %>
    <br><li>Invited</li>
    <% end %>
    <br>
  </div>
<% end %>
</ul>
</div>
