<div class="content">
  <h1>Viewing Party Lite</h1>
  <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
  <br>
  <h2><%= @user.name %>'s Dashboard</h2>

  <h2>Viewing Parties</h2>
  <div class="all-parties">
      <% @user.parties.each do |party| %>
        <div class="party">
          <% movie = MovieFacade.get_movie(party.movie_id) %>
          <h3><%= link_to "#{movie.title}", "/users/#{@user.id}/movies/#{movie.id}"%></h3>
          <br>
          <img src="https://image.tmdb.org/t/p/original<%= movie.poster_path %>" 
                  alt="movie_poster" 
                  class="movie-poster">
          <p><%= party.date.strftime("%B %d, %Y") %></p>
          <p><%= party.start_time.strftime("%l:%M %p") %></p>

          <p>
          <% if party.host_id == @user.id %></p>
            <p> You're the host! </p>
              <% else %>
            <p> Host: <%= party.host_name(party.host_id) %> </p>
          <% end %>

          <p> 
          <% if party.host_id != @user.id %></p>
          <p> You're Invited! </p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>