<h2><%= @user.name %>'s Dashboard</h2>

<p><%= button_to "Discover Movies", "/user/#{@user.id}/discover", method: :get, local: true %></p>

<div id="viewingPartiesInvited">
  <h2>Invited Viewing Parties</h2>
  <% @parties.each do |party| %>
    <% unless  %>
    <p><b>Movie: </b><%= link_to "#{party.movie_name}", user_movie_path(user_id: @user.id, id: party.movie_id) %></p>
    <p><b>Date: </b><%= party.date %></p>
    <p><b>Start Time: </b><%= party.start_time.strftime('%H:%M') %></p>
    <p><b>Host: </b></p>
      <% party.users.each do |user| %>
        <% if user.host?(party.id) %>
          <%= user.email %>
        <% end %>
      <% end %>
    <p><b>Participants: </b></p>
    <% party.users.each do |user| %>
        <% if user.id == @user.id %>
      <ul>
          <li><b><%= user.email %></b></li>
        <% else %>
          <li><%= user.email %></li>
      </ul>
    <% end %>
  <% end %>    
      <br>
  <% end %>

<div id="viewingPartiesCreated">
  <h2>Created Viewing Parties</h2>
  <% @parties.each do |party| %>
    <b>Movie: </b><%= party.movie_name %>
    <b>Date: </b><%= party.date %>
    <b>Start Time: </b><%= party.start_time.strftime('%H:%M') %>
      <br>
  <% end %>
</div>
