<div class='centered_text'>
  <h1><%= @user.name %>'s Dashboard</h1>

  <%= button_to 'Discover Movies', discover_user_path(@user), method: :get %>
</div>

<div id="topBlackBar"/>

<div id='viewing-parties'>
  <% @hosting.each do |vp| %>
    <img src="https://image.tmdb.org/t/p/original<%= vp.movie_details(vp.movie_api_id).poster_path %>">
    <%= vp.movie_details(vp.movie_api_id).title %>
    <%= vp.date.strftime('%B %d, %Y') %>
    <%= vp.start_time.strftime('%I:%M %p') %>
    <b><%= vp.host.name%></b>
    <% vp.viewing_party_users.each do |invitee| %>
      <%= invitee.user.name %>
    <% end %>
    <p>Hosting</p>
  <% end %>

  <% @invited.each do |vp| %>
    <%= vp.viewing_party.movie_details(vp.viewing_party.movie_api_id).title %>
    <%= vp.viewing_party.date.strftime('%B %d, %Y') %>
    <%= vp.viewing_party.start_time.strftime('%I:%M %p') %>
    <% vp.viewing_party.viewing_party_users.each do |invitee| %>
      <% if invitee.user.name == @user.name %>
        <b><%= invitee.user.name %></b>
      <% else %>
        <%= invitee.user.name %>
      <% end %>
    <% end %>
    <p>Invited</p>
  <% end%>
</div>
