<h5><%= @user.name %>'s Dashboard</h5>

<%= form_with url: "/users/#{@user.id}/discover", method: :get, local: true do |f| %>
  <%= f.submit 'Discover Movies' %>
<% end %>

<% @user.viewing_parties.each do |vp| %>
  <div id=<%= vp.id %>>
  <%= link_to "#{vp.title}", "/viewing_parties/#{vp.id}", method: :get, local: true %>
  <p>Start time: <%= vp.start_time %></p>
  <% if @user.id == vp.host %>
    <p> Hosting </p>
  <% else  %>
    <p> Invited </p>
  <% end %>
  <h4>Participants:</h4>
 
  <% vp.users.each do |user| %>
    <% if user.id == vp.host %>
      <% if user.id == @user.id %>
        <h5>Host: <%= user.name %></h5>
      <% else %>
        <p>Host: <%= user.name %></p>
      <% end %>
    <% else %>
      <% if user.id == @user.id %>
        <h5><%= user.name %></h5>
      <% else %>
        <p><%= user.name %></p>
      <% end %>
    <% end %>
  <% end %>


  </div>
  <br>
<% end %>