<div id="whitespace">
  <center>
    <h1> Viewing Party Lite </h1>
    <h2>
      <%= "#{@user.name}'s Dashboard" %> <br>
    </h2>
      <div class="button">
        <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
      </div>
      <br>
    <div>
      <hr><br>
      <h2>Viewing Parties</h2>
      <% @user.view_parties.each do |party| %>
        <div id="box">
          <%= party.movie_name %> <br>
          <%= party.picture %> <br>
          <%= party.date %> <br>
          <%= party.time %> <br>
          <%= party.status %> <br>
        </div>
      <% end %>
    </div>
  </center>
</div>
