<% stylesheet_link_tag "movies" %>
<center>
  <h1><%= "#{@user.name}'s Dashboard" %></h1>
  <%= @user.email %>
  <%= button_to 'Discover Movies', user_discover_index_path(@user), method: :get %>
</center>

<h3> Viewing Parties </h3>
<div class='body'>
  <% @user.user_viewing_parties.each do |vp| %>
    <div id="party-<%= vp.viewing_party.id %>">
      <br><%= image_tag (vp.viewing_party.movie_poster) %><br/>
      <br><%= link_to vp.viewing_party.movie_title %><br/>
      <br>Date: <%= vp.viewing_party.date %><br/>
      <br>Start time: <%= vp.viewing_party.start_time.strftime("%l:%M %P") %><br/>
      <% if vp.host %>
        <br>Host: <%= @user.name %> <br/>
      <% else %>
        <br>Host: <%= vp.host_user %> <br/>
      <% end %>
      <div id="attending<%= vp.viewing_party.id %>">
        <h4> Attendees: </h4>
        <% vp.viewing_party.users.each do |u| %> 
          <% if u.name == @user.name %>
            <strong><%= u.name %></strong><br>
          <% else %>
            <%= u.name %><br>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %> 
</div>
