<h1><%= @user.first_name %> <%= @user.last_name %>'s Dashboard</h1>

<p><%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %> </p>

<h3>Viewing Parties</h3>

<% @user.viewing_party_users.each do |vpu|%>
  <div id="viewing-party-<%=vpu.id%>">
    <%= image_tag "https://image.tmdb.org/t/p/w500#{vpu.viewing_party.movie_api_id[1]}", class: "poster-image" %>
    <%# <img src="https://image.tmdb.org/t/p/w500/<%="#{vpu.viewing_party.movie_api_id[1]}"%>">  %>

    <p>
      <%= link_to "#{vpu.viewing_party.movie_title}", "/users/#{@user.id}/movies/#{vpu.viewing_party.movie_api_id[0]}"%>
    </p>

    <p>
      Date: <%=vpu.viewing_party.start_time.strftime("%B %d, %Y")%>
    </p>

    <p>
      Start Time: <%=vpu.viewing_party.start_time.strftime("%l:%M %p")%>
    </p>

    <p>
      <%=vpu.status.titleize%>
    </p>

    <p>
      Host: <%=vpu.viewing_party.host_name%>
    </p>

    <p>
      Attendees:
    </p>
    
    <div id="viewing-party-<%=vpu.id%>-attendees">
      <% vpu.viewing_party.users.each do |attendee| %>
        <% if "#{attendee.first_name} #{attendee.last_name}" == "#{@user.first_name} #{@user.last_name}" %>
          <p>
            <b><%= "#{attendee.first_name} #{attendee.last_name}"%></b>
          </p>
        <% else %>
          <p>
            <%= "#{attendee.first_name} #{attendee.last_name}" %>
          </p>
        <% end %>
      <% end %>
    </div>

  </div>
<% end %>