<h1><%= @user.name %>'s page</h1>

<%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
<hr/>

<div id="viewing_parties">

<h1>Viewing Parties</h1>

<ul>
  <% @user.parties.each do |party| %>
  <div id="party_<%= party.id %>">
    <li>
      <% movie = party.movie %>
      <img id="movie_poster" src="http://image.tmdb.org/t/p/w300<%= movie.poster_path %>" alt="<%= movie.title %> poster">
      <h2><a href="users/<%= @user.id %>/movies/<%= party.movie_id %>">Movie: <%= movie.title %></a></h2><br/>
      <h4>Party #<%= party.id %></h4><br/>
      <h4>Host: <%= party.host_name %></h4><br/>
      <h3>Date & Time: <%= party.format_start_time%></h3>
      <p id="<%= party.id %>-invited">Invited:
        <% party.users.each do |user| %>
          <% unless user.id == party.user_id %>
            <% if user.id == @user.id %>
              <strong><%= user.name %></strong>
            <% else %>
              <%= user.name %>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </li>
  </div>
<% end %>
</ul>
</div>
