<h2><%= "#{@user.name}'s Dashboard" %></h2>

<h3>User Information</h3><hr>
<h4><%= "Name: #{@user.name}" %></h4>
<h4><%= "E-mail: #{@user.email}" %></h4>
<br>
<h4><%= button_to "Discover Movies", user_discover_index_path(@user.id), method: :get %></h4>
<br>
<h3><%= @user.name %>'s Hosted Viewing Parties</h3>
<% @user.parties.each do |party| %>
  <% if party.host == @user.email %>
    <p>Title: <%= party.movie_name %></p>
    <p><img src="https://image.tmdb.org/t/p/original<%= @movies.find {|movie| movie.movie_id == party.movie_id}.poster %>" alt="Movie Poster" style="width:400px;height:480px;"></p>
    <p>Date: <%= party.date.strftime('%T') %></p>
    <p>Start Time: <%= party.start_time %></p>
    <p>Duration: <%= party.duration / 60 %> h <%= party.duration % 60 %> min</p>
    <p>Guests </p>
    <% party.users.each do |user| %>
      <p><%= user.name %></p>
    <% end %>
  <% end %><hr>
<% end %>
<h3>Viewing Party Invites</h3>

<% @user.parties.each do |party| %>
    <% if party.host != @user.email %>
      <p>Title: <%= party.movie_name %></p>
      <% @movies.find %>
      <p><img src="https://image.tmdb.org/t/p/original<%= @movies.find { |movie| movie.movie_id == party.movie_id }.poster%>" alt="Movie Poster" style="width:400px;height:480px;"></p>
      <p>Host Email: <%= party.host %></p>
      <p>Date: <%= party.date.strftime('%T') %></p>
      <p>Start Time: <%= party.start_time %></p>
      <p>Duration: <%= party.duration / 60 %> h <%= party.duration % 60 %> min</p>
      <p>Guests </p>
      <% party.users.each do |user| %>
        <% if user.email == @user.email %>
          <p><strong><%= user.name %></strong></p>
        <% else %>
          <p><%= user.name %></p>
        <% end %>
      <% end %>
    <% end %><hr>
<% end %>
