<h1><%= @user.name %>'s Dashboard</h1>

<%= button_to 'Discover Movies', user_discover_path(@user), method: :get %>
 
<div id="view-parties-<%= @user.id %>">
  <h3>Viewing Parties</h3>
    
    <% @user.parties.each do |party| %>
      <span id="party-<%= party.id %>">
     
       <%# <%= link_to "#{@movies.find{|movie| movie.title if movie.id == party.movie_id}}, movie_path(party.movie_id)", movie_path(party.movie_id) %> %>

        <p><%= link_to party.find_title, movie_path(party.movie_id) %></p>
        <p><%= image_tag(party.find_image_url, size: "200x300") %></p>
        <p><%= party.start_date %> <%= party.time %></p>
        <p>
          <% if party.host_id == @user.id %>
            <%= "Hosting" %>
          <% else %>
            <%= 'Invited - "#{party.find_host} is Host' %>
          <% end %>
        </p>

      </span>
    <% end %>
    
</div>