<h1> <%= @user.name %>'s Dashboard</h3>
  <p>
<div class="container" align="center" id="discover_movies">
      <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get%>
</div>
</p>
<br>
<h3>Viewing Parties</h3>
<br>
</br>
<div class='invites'>
<h4>My Invitations<h4>
<% @user.not_hosting.each do |party| %>
  <h3>Movie: <%= link_to "#{party.movie_title}", user_movie_path(@user.id, party.movie_id) %></h3>
  <p><%= image_tag "https://image.tmdb.org/t/p/original#{party.poster_path}", data:{title: "#{party.movie_title} Poster"} %></p>
  <p>Date: <%= party.formatted_date %></p>
  <p>Time of Movie: <%= party.formatted_time %> </p>
  <p>Host: <%= party.host %> </p>
  <div class="guests">
  <p>Attendees: <% party.guests.each do |guest| %>
                  <p><%= guest.name %></p>
                <% end %></p>
                <p><strong><%= @user.name %></strong></p>
  </p>
  </div>
<% end %>
</div>

<div class="hostParty">
<h3>My Parties</h3>
<% @user.party_host.each do |party| %>
  <h3>Movie: <%= link_to "#{party.movie_title}", user_movie_path(@user.id, party.movie_id) %></h3>  
  <p><%= image_tag "https://image.tmdb.org/t/p/original#{party.poster_path}", data:{title: "#{party.movie_title} Poster"} %></p>
  <p>Date: <%= party.formatted_date %></p>
  <p>Time of Movie: <%= party.formatted_time %></p>
  <p>Host: <%= party.host %> </p>
  <div class='friends'>
  <p>Guests: <% party.guests.each do |guest| %>
                <p><%= guest.name %></p>
              <% end %></p>
  </div>
<% end %>
</div>


<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

