<center> 
    <h3> <%= @user.name %>'s Dashboard </h3>
    <p> <%= button_to "Discover Movies", "/users/#{@user.id}/discover", method: :get %>
    <br><br>
    <hr>
    <h3> Viewing Parties </h3>
    <br>
    <%@user.viewing_parties.each do |party|%>
    <div id="viewing-party<%= party.id%>">
        <%= image_tag("https://image.tmdb.org/t/p/w185#{party.movie.image_uri}")%>
        <p><b><%= party.movie.title %></b></p>
        <p><%= party.formatted_date %></p>
        <p><%= party.formatted_time %></p>
       <% if @user.is_host?(party.id)%>
            <p> Hosting </p>
        <% else %>
            <p> Invited </p>
        <%end%>
    </div>
    <br>
    <%end%>

</center>