<%# <center>
<h1>Viewing Party Lite</h1>
</center> %>


<center>
<% if current_user %>
  Welcome back! <br>

<%# <%= button_to 'Log Out', '/logout', method: :delete %> 

<section id="existing_users">
<h3>Current Users</h3>
  
  <% @users.each do |user| %>
    <section id="user_id-<%= user.id %>">
    <div class="container-sm">

      <ul class="list-group">
    <div class="user_container">
        <li class="list-group-item"><%= user.email %></li>
    </div>
      </ul>
    </div>

    </section>
    <% end %>

</section>
</center>
<% else  %>

<center>
 
  <%= button_to "Login", "/login", method: :get %> 



  <%= button_to "Create a New User", "/register", method: :get %> 
 
</center>
<% end %>

