<div id="page-title">
   <center><%= button_to 'Create a New User', new_register_path, method: :get  %><br>
   <center><%= button_to 'Login', login_path, method: :get  %><br>
</div>

<h3>Existing Users</h3>
<% @users.each_with_index do |user, index| %>
   <div id="user-<%= index %>">
      <p>User's name: <%= user.name %></p>
      <p>User's email: <%= link_to "#{user.name}'s Dashboard", dashboard_path %></p>
   </div>
<% end %></center>
</div>