<h3>Create Event For <%= @movie.title %></h3>

<%= form_with url: user_path(@user.id) , method: :post, local: true do |f| %>
    <%= f.label :title, 'Movie Title' %>
    <%= f.text_field :title, value: "#{@movie.title}", disabled: true%>
    <%= f.label :duration, 'Duration' %>
    <%= f.text_field :duration, value: "#{@movie.runtime}" %>
    Day <%= select_date(@date, {}, onchange: 'reload_with_date($(this))') %>
    <%= f.label :time %>
    <%= f.text_field :time, value: "#{@date.strftime("%I:%M")}" %>
    <% @users.each do |user| %>
      <% if @user.id != user.id %>
        <li>
            <%= check_box_tag "user_ids[#{user.id}]", user.id, false, :name => "user_ids[]" %>
            <%= "#{user.name} - #{user.email}" %>
        </li>
      <% end %>
    <% end %>
    <%= f.submit "Create Event" %>
<% end %>
