<section id="title">
  <h1> <%= @movie.title %> </h1>
</section>

<%= form_with model: @viewing_party, local: true do |f| %>
  <section id="form">
    <section id="error_messages">
      <% if @viewing_party.errors.any? %>
        <% @viewing_party.errors.full_messages.each do |message|%>
          <p><li><%= message %></p>
        <% end %>
      <% end %>
    </section>
    <li> <%= f.label :duration %>
      <%= f.text_field :duration %> </li>
    <li> <%= f.date_select :date %> </li>
    <li>  <%= f.time_select :time %> </li>
      <% @users.each do | user | %>
      <li>  <%= check_box_tag("#{user.name}") %>
        <%= label_tag("#{user.name}", "#{user.name}") %> </li>
      <% end %>
    <li>  <%= f.submit 'Create' %> </li>
  </section>
<% end %>
