<h2><%="#{@host.name}'s Viewing Party" %></h2>
<h3>Movie Title: <%= @movie.title %></h3>

<%= form_with url: user_path(@host.id), method: :post, local: true do |f| %>
<%= f.label :duration, "Enter Duration Minutes: " %>
<%= f.text_field :duration, value: @movie.runtime %>
<%= f.label :date %>
<%= f.date_field :date  %>
<%= f.label :time %>
<%= f.time_field :time  %>
  <% @users.each do |user| %>
  <%= f.label user.email.to_sym %>
  <%= f.check_box user.email.to_sym %>
  <% end %>
<% end %>
