<h2><%= @movie.title %></h2>

<p>Vote Average: <%= @movie.vote_average %></p>

<p>Runtime: <%= @movie.runtime %></p>

<p>Genre: <%= @movie.genre %></p>

<p>Summary Description: "<%= @movie.summary_description %>"</p>
