<h1>Create a Movie Party for <%= @movie.title %></h1>
<p><%= button_to "Discover Page", user_discover_path(@user), method: :get %></p>

<div id='party_details'>
  <h3>Viewing Party Details</h3>
  <br>
  <br>
  <strong>Movie Title</strong> <%= @movie.title %>
    <%= form_with url: user_movie_viewing_parties_path(@user, @movie.movie_id), method: :post, local: true do |f|%>
      <%= f.hidden_field :host_id, value: @user.id%>
      <%= f.hidden_field :movie_id, value: @movie.id %>
      <%= f.hidden_field :movie_title, value: @movie.title %>
      <%= f.hidden_field :poster_path, value: @movie.poster_path %>
      <br>
      <%= f.label :duration, "Duration of Party" %>
      <%= f.number_field :duration, value: @movie.runtime, min: @movie.runtime, required: true %>
      <br>
      <%= f.label :date, 'Day' %>
      <%= f.date_field :date, value: Date.today, min: Date.today, required: true %>
      <br>
      <%= f.label :start_time, 'Start Time' %>
      <%= f.time_field :start_time, ampm: true, required: true %>
      <br>
      <strong>Invite Other Users</strong>
      <br>
      <% @users.each do |user| %>
        <% if user.id != @user.id %>
          <%=f.collection_check_boxes(:post, :author_ids, Author.all, :id, :name_with_initial)  %>
      <% end %>
    <% end %>
  <% end %>
</div>