<h1>Create a Movie Party for <%= @movie.title %></h1>
<p>Viewing Party Details</p>
<p>Movie Title: <%= @movie.title %></p>
<%= form_with model: @viewing_party, method: :post, local: true do |f| %>
  <%= f.label :duration_of_party %>
  <%= f.text_field :duration_of_party, value: @movie.runtime #this needs to be converted to minutes %>
  <%= f.label :day %>
  <%= f.date_select :day %>
  <%= f.label :start_time %>
  <%= f.time_select :start_time %>
  <%= f.label :invite_other_users %>
  <%= f.collection_check_boxes :invite_other_users, User.all, :name, :email %>
  <%= f.submit 'Create Party' %>
  <% end %>
