<h1>New User</h1>

<h2><div id=create_user>
  <%= form_with url: register_path, method: :post, local: true do |form| %>
    <%= form.label :name, "Name:" %>
    <%= form.text_field :name %>
    <%= form.label :email, "Email:" %>
    <%= form.submit 'Submit' %>
  <% end %>
</div> </h2>


