<h2>Discover Movies</h2>

<%= button_to "Find Top Rated Movies", "/users/#{@user.id}/movies", method: :get, params:{q: "top%20rated"} %>

<section id="movie_list">
<%= form_with url: "/users/#{@user.id}/movies", method: :get, local: true do |f| %>
  <%= f.label "Search by Title" %>
  <%= f.text_field :q %>
  <%= f.submit "Find Movies" %>
<% end %>
</section>