<h1> New User Party Form </h1>

<%= form_with url: "/users/#{@user.id}/movies/#{@movie_id}/create", method: :post, local: true do |f| %>
  <%= f.label :duration, "Duration:" %>
  <%= f.text_field :duration, value: @movie_information[:runtime]%> 
  <%= f.label :date, "Date:" %>
  <%= f.date_field :date %>
  <%= f.label :start_time, "Start Time:" %>
  <%= f.time_select :start_time %>
  <h3>Invite Others</h3>
  <div id="potential_invitees">
    <%= f.collection_check_boxes :invitees, @user.friends,:id, :name %>
    <%= f.submit "Create Party" %>
  </div>
<% end %>