<h1>Discover Index Page</h1>

<%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.submit 'Discover Top Rated Movies' %>
<% end %>
<br>
<%= form_with url: movies_path, method: :get, local: true do |f| %>
  <%= f.label :search, 'Search' %>
  <%= f.text_field :search %>
  <%= f.submit 'Search by Movie Title' %>
<% end %>


