<h1>Discover Movies</h1>

<%= button_to "Find Top Rated Movies", user_movies_path, method: :get, params: { q: 'top_rated' }  %>

<p>OR</p>

<%= form_with url: user_movies_path, method: :get, local: :true do |f|  %>
  <%= f.label :keyword %>
  <%= f.text_field :q %>
  <%= f.submit "Find Movies" %>
<% end %>
