<center>
  <h1>Viewing Party Light</h1>
  <h2>Create a Movie Party for <%= @movie.title %></h2>
  <div class="button">
    <%= button_to "Discover Page", "/users/#{params[:user_id]}/discover", method: :get %>
  </div> <br>
  <div id="box2">
    <h2>Viewing Party Details</h2>
    <div class="form">
      <%= form_with url: "/users/#{params[:user_id]}/movies/#{params[:movie_id]}/view_parties", method: :post, local: true do |f| %>
        <p>
          <strong>Movie Title</strong> <%= @movie.title %>
        </p>
        <p>
          <%= f.label "Duration of Party" %></p>
          <%= f.text_field :duration, value: @movie.runtime, :required => true %>
        </p>
        <p>
          <%= f.label "Day" %></p>
          <%= f.text_field :date, value: Date.today, :required => true %>
        </p>
        <p>
          <%= f.label "Start Time" %></p>
          <%= f.text_field :time, value: Time.now.strftime("%H:%M"), :required => true %>
        </p>
        <p>
          <% @users.each do |user| %>
            <div id="user-<%= user.id %>">
              <% if user.id != params[:user_id].to_i%>
                <%= f.check_box :invited, {multiple: true }, user.id, nil %>
                <%= label_tag("#{user.id}", "#{user.name} (#{user.email})") %>
              <% end %>
            </div>
          <% end %>
        </p>
        <%= f.submit "Create Party" %>
      <% end %>
    </div>
  </div>
</center>
