<h1> Viewing Party </h1>

<% if flash.key? :error %>
  <p><%= flash[:error] %></p>
<% end %>

<% if current_user %>
  <p>You are logged in!</p>
  <%= button_to 'Log Out', '/logout', method: :delete %>
  <h3> Existing Users </h3>
  <div id=existing-users>
    <% @users.each do |user| %>
      <%= user.user_name %>
    <% end %>
  </div>
<% else %>
  <%= button_to "Create a New User", '/register', method: :get %>
  <%= button_to 'Log In', '/login', method: :get %>
<% end %>

