<center>
<h1>Viewing Party Lite</h1>
</center>
<center>
<% if @movies %>
  <h2>Top Rated Movies</h2>
<% elsif @results %>
    <h2>Movie Results for: <%= @keyword %></h2>
<% end %>
</center>


<center>
<% if @movies %>
  <% @movies.each do |movie| %>
    <%= movie[:title] %>, Average Vote: <%= movie[:vote_average] %><br>
  <% end %>
<% end %>
</center>

<center>
<% if @results %>
  <% @results.each do |result| %>
    <%= result[:title] %>, Average Vote: <%= result[:vote_average] %><br>
  <% end %>
<% end %>
</center>

