<center>


<% if params[:q]%>
    <h2> Top Rated Movies </h2>
    <%= render partial: 'discover_button' %>
    <% @top_movies.each do |movie|%>
        <div id="top-movie-<%= movie.id %>">
            <p> <%= link_to "#{movie.title}", user_movie_path(params[:user_id], movie.id) %> <b> Vote Average: </b> <%=movie.vote_average %> </p>
        </div>
    <% end %>
<%else %>
    <h2> Movie results for: <%=params[:search]%> </h2>
    <%= render partial: 'discover_button' %>
    <% @movie_search_results.each do |movie|%>
        <div id="searched-movie-<%= movie.id %>">
            <p> <%= link_to "#{movie.title}", user_movie_path(params[:user_id], movie.id) %><b> Vote Average: </b> <%=movie.vote_average %> </p>
        </div>
    <% end %>
<% end %>
</center>