<div id="whitespace">
  <center>
    <h1> Viewing Party Lite </h1>
    <h2> <%= @movie.title %> </h2>

    <div class="button">
      <%= button_to "Discover Page", "/users/#{params[:user_id]}/discover", method: :get %>
    </div> <br>
    <div class="button">
      <%= button_to "Create Viewing Party for #{@movie.title}", "/users/#{params[:user_id]}/movies/#{@movie.id}/view_parties/new", method: :get %>
    </div>

    <div class="stats-bar">
      <strong><p>Vote Average: <%= @movie.vote_average %>&nbsp;&nbsp;&nbsp;&nbsp; Runtime: <%= @movie.runtime_formatted %>&nbsp;&nbsp;&nbsp;&nbsp; Genre(s): <%= @movie.genres %></p></strong>
    </div>

    <div id="textfield">
      <hr>
      <h3>Summary</h3>
      <p><%= @movie.overview %></p>

      <h3>Cast</h3>
      <ul>
        <% @cast.each do |cast_info| %>
            <li><%= cast_info.name %> as <%= cast_info.character %></li>
        <% end %>
      </ul>
      <br><br>
    </div>
  <br>
    <div class="reviews" id="textfield">
      <br><hr>
      <h3 id="textfield"><%= @review.count %> Reviews</h3>
        <% @review.each do |media| %>
          <div id="box">
            Author: <strong><%= media.author %></strong><br>
            <%= media.content %><br>
          </div>
          <br>
        <% end %>
    </div>
  </center>
</div>
