<h1> <%= "#{@movie.title}" %> </h1>

<section id= "buttons" >
<div id= "discover_button">
<%= button_to "Discover Page", "/users/#{params[:user_id]}/discover", method: :get %>
</div>

<div id= "new_party_button">
<%= button_to "Create Viewing Party for #{@movie.title}", "/users/#{params[:user_id]}/movies/#{params[:movie_id]}/viewing-party/new", method: :get %>
</div>
</section>

<section id= "movie_details" >
<p> Vote Average: <%= @movie.vote_avg %> </p>
<p> Runtime: <%= @movie.runtime %> </p>
<p> Summary: <%= @movie.summary %> </p>
<p> Genres:
<% @movie.genres.each do |genre| %>
  <%=genre %> 
<%end%></p>
</section>

<section id= "cast_info" >
<h3> Cast </h3>
<%@cast.each do |member|%>
  <p> <%= member[:actor] %> as <%= member[:role] %> </p>
<%end%>
</section>

<section id= "reviews_info" >
<h3> <%= @reviews.count %> Reviews </h3>
<% @reviews.each do |review| %>
  <p> Author: <%= review[:author] %> </p>
  <p> <%= review[:content] %> </p>
  <br>
<%end%>
</section>