<div id="links">
  <%= link_to "Return to Discover", "/discover"%>
  <%= button_to "Create New Watch Party", "/movies/#{@movie.id}/party/new", method: :get %>
</div>

<div id="movie-details">
  <h1><%= @movie.title %></h1>
  <h2>Vote Average: <%= @movie.vote_average%></h2>
  <h2>Runtime: <%= (@movie.runtime/60).floor %>h <%= (@movie.runtime%60) %>m</h2>
  <h2>Genres:</h2>
 <% @movie.genres.each do |genre| %>
    <h3><%= genre %></h3>
  <% end %>
  <h2>Overview:</h2>
  <p> <%= @movie.overview %></p>
  <h2>Notable Actors:</h2>
  <% @cast.cast.each do |actor| %>
    <h3><%= actor %></h3>
  <% end %>
</div>