<section id= "buttons" >
<div id= "new_party_button">
<%= button_to "Create A New Viewing Party", "/users/#{params[:user_id]}/movies/#{params[:movie_id]}/viewing-party/new", method: :get %>
</div>


<div id= "discover_button">
<%= button_to "Discover", "/users/#{params[:user_id]}/discover", method: :get %>
</div>
</section>



<section id= "movie_details" >
<h3> Movie Title: <%= @movie.title %> </h3>
<p> Vote Average: <%= @movie.vote_avg %> </p>
<p> Runtime: <%= @movie.runtime %> </p>
<p> Summary: <%= @movie.summary %> </p>
<p> Genres:
<% @movie.genres.each do |genre| %>
  <%=genre %> 
<%end%></p>
</section>

<section id= "cast_info" >
<h3> Cast Members </h3>
<%@cast.each do |member|%>
  <p> Actor: <%= member[:actor] %> </p>
  <p> Role: <%= member[:role] %> </p>
  <br>
<%end%>
</section>

<section id= "reviews_info" >
<h3> Reviews </h3>
<% @reviews.each do |review| %>
  <p> Author: <%= review[:author] %> </p>
  <p> Review: <%= review[:content] %> </p>
  <br>
<%end%>
</section>