<h1>Viewing Party Lite</h1>
<h2><%= @movie.title %></h2>

<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %>
<%= button_to "Create Viewing Party for #{@movie.title}", "/users/#{@user.id}/movies/#{@movie.id}/viewing-party/new", method: :get %>

<p>Vote Average: <%= @movie.vote_average %> |
   Runtime: <%= @movie.runtime %> minutes |
  Genre(s): <%= @movie.genres.map{|genre| genre[:name]}.join(", ") %>
</p>

<p> Summary: <%= @movie.overview %> </p>
<p>Cast: <%= @cast.map{|cast| cast.name}.join(", ") %> </p>
<p> <%= @reviews.count %> Reviews</p>
<p>Review: <% @reviews.each do |review| %></p>
            <p>Author: <%= review.author %></p>
            <p><%= review.content %></p>
          <% end %>
