<center>
<h2><%= @movie.title %></h2>
<%= render partial: 'partials/buttons/discover_button' %>
<br>
<%= render partial: 'partials/buttons/viewing_party_button' %>
</center>
<h3>Vote Average: <%= @movie.vote_average %> | Runtime: <%= @movie.runtime %> | Genre(s): <%= @movie.genres.map{ |genre| genre[:name]}.join(", ") %></h3>
<h3>Summary</h3>
<p><%= @movie.overview %><p>
<div id="cast">
  <h3>Cast</h3>
  <% @cast.each do |actor| %>
    <%= actor[:name] %> / <%= actor[:character] %>
    <br>
  <% end %>
</div>
<h3><%= @movie.reviews.length %> Reviews</h3>
<% @movie.reviews.each do |review| %>
  <h4>Author: <%= review[:author] %></h4>
  <%= review[:content] %>
  <br>
<% end %>

