<h2><%= @movie.title %></h2>
<%= button_to "Discover Page", "/users/#{@user.id}/discover", method: :get %><br>
<%= button_to "Create Viewing Party for #{@movie.title}", "/users/#{@user.id}/movies/#{@movie.id}/viewing-party/new", method: :get %><br>
<img src=<%= @movie.poster %> alt="Poster for this movie" width="200" >
<h3>Vote Average: <%= @movie.vote_average %></h3>
<h3>Runtime: <%= @movie.runtime_in_minutes %> </h3>
<h3>Genres: <%= @movie.genres.to_s.delete! '[]"' %></h3>
<h4>Summary:</h4><p><%= @movie.overview %></p>
<h4>Cast:</h4>
<% @cast.each do |actor| %>
<p> <%= actor.name %> as <%= actor.character %> </p>
<% end %>
<hr>
<h3><%= @reviews.count %> Reviews</h3>
<% @reviews.each do |review| %>
  <p>Author: <%= review.author %><br><br>
  <%= review.content %></p><hr>
<% end %>
