<!DOCTYPE html>
<html>
  <head>
    <title>Viewing Party Lite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <div>
      <p><%= msg %></p>
      </div>
    <% end %>

    <nav class="site-header sticky-top py-1 bg-dark">
      <div class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block text-white" href="/">Home</a>
      </div>
    </nav>

    <br><center><h1>Viewing Party Lite<h1></center>

    <%= yield %>
  </body>
</html>
