<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <style>
  .column {
    float: left;
    width: 33.33%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-2 {
    float: left;
    width: 50%;
  }

  /* Clear floats after the columns */
  .row-2:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    
    <section>
      <p><%= link_to 'Home', root_path %></p>
    </section>
    <%= yield %>
  </body>
</html>
