<!DOCTYPE html>
<html>
  <head>
<style>
  .center {
  margin: auto;
  width: 50%;
  padding: 10px;
}


</style>

    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
      <div class="center">
       <h1>Viewing Party</h1>
      </div>
        <div class="topleft">
          <%= link_to "Home", root_path, style: "color:black;padding-left:3em" %>
        </div>
  </body>
</html>
