<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      .flashMessage { color: red; }
    </style>
  </head>

  <body>
    <p><%= link_to 'Home', '/' %></p>
    <h1>Viewing Party Lite</h1>

    <% flash.each do |type, msg| %>
      <div class="flashMessage">
        <%= msg %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
