<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= link_to 'Home', root_path %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div id="flash-<%= type %>" class="flash-<%= type %>">
      <%= msg %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
