<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  <nav id='navbar'>
   <%= link_to 'Home', root_path %>
  </nav>

  <header>
    <h1>Viewing Party</h1>
  </header>

  <div id='messages'>
    <% flash.each do |type, msg| %>
      <center>
        <%= msg %>
      </center>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
