<!DOCTYPE html>
<html>
  <head>
    <center><h1 class='header'>Viewing Party Lite</h1></center>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
