<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section>
      <p>
      <%= link_to "Home", "/" %>
      </p>
      <h1 align="center">Viewing Party Light</h1>
    </section>
    <%= yield %>
  </body>
</html>
