<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <%= link_to "Home", "/" %>
  <h1 align='center'>Viewing Party Light</h1>
  
  <body>

  <% flash.each do |type, msg| %>
  <div>
     <h3 style= "color:red">  <%= msg %> </h3>
  </div>
<% end %>

    <%= yield %>
  </body>
</html>
