<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <% flash.each do |type, msg| %>
        <div style="color:purple;font-weight:bold;">
          <%= msg %>
        </div>
      <% end %>
      <%= link_to 'Home Page', '/', method: :get%>
    </header>
    <%= yield %>
  </body>
</html>
