<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div style="color:red;font-weight:bold;">
        <%= msg %>
      </div>
    <% end %>
    <%= link_to 'Home', root_path %>&nbsp;&nbsp;
    <%= link_to 'Discover', '/discover' %>&nbsp;&nbsp;
    <%= link_to 'Log In', '/login' if session[:user_id] == nil %>
    <%= link_to 'Log Out', '/logout' if session[:user_id] != nil %>
    <h1><center>Viewing Party</center></h1>
    <center><%= link_to 'Dashboard', dashboard_path if session[:user_id] != nil %><br><br></center>
    <center><%= link_to 'Admin Dashboard', admin_dashboard_path if session[:user_id] != nil && User.find(session[:user_id]).role == 'admin' %><br><br></center>
    <%= yield %>
  </body>
</html>
