<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <h3>Viewing Party Lite</h3>
    <%= link_to "Home", '/' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
