<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id='navlinks'>
      <%= link_to "Home", root_path %>
    </div>
    <% if alert %>
      <% flash.each do |type, msg| %>
        <%= msg %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
