<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Varela&display=swap" rel="stylesheet">
  </head>

  <body>

    <%= stylesheet_link_tag "navbar" %>

    <nav>
      <ul>
        <li style='float:left'>
          <% unless current_page?(root_path) %>
            <%= link_to 'Home', root_path %>
          <% end %>
          <% if current_admin? %>
            <% unless current_page?(admin_dashboard_index_path) %>
              <%= link_to 'Admin Dashboard', admin_dashboard_index_path %>
            <% end %>
          <% end %>
        </li>
        <li style='float:right'>
          <% if current_user %>
            <strong><%= current_user.name %></strong>
            <%= link_to 'Log Out', logout_path, method: :delete %>
          <% end %>
        </li>
      </ul>
    </nav>

    <header>
      MOVIE VIEWING PARTY
    </header>

    <br>

    <% flash.each do |type, msg| %>
      <center>
        <h3><%= msg %></h3>
      </center>
    <% end %>

    <br>

    <%= yield %>
  </body>
</html>
