<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <style>
    body {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    nav {
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
    }
  </style>

  <nav>
    <%= link_to "Home", '/' %>
  </nav>
  
  <body>
    <% flash.each do |type, message| %>
      <p id="flash_message"> <%= message %></p>
    <% end %>
    <h1>Viewing Party Lite</h1>
    <%= yield %>
  </body>
</html>
