<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <p><%= msg %></p>
    <% end %>

    <% if current_user %>
      <%= "Logged in as #{current_user.name}" %>
      <%= button_to 'Logout', login_path, method: :delete %>
    <% end %>
    <%= button_to 'Landing Page', '/', method: :get %>

     <center><h1>Viewing Party</h1></center>

    <%= yield %>
  </body>
</html>
